<template>
  <div> 
    <div class="col-md-12" style="padding:20px;">
      <div class="col-md-12 padding-0">
        <div class="panel box-v3"> 
          <div class="panel-body"> 
            <h1 class="text-center"><span class="fa fa-home"></span> Billing System</h1>
        </div> 
      </div>
    </div>
  </div>

  <div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
      <div class="panel">
          <div class="panel-heading"><h3>Data Summary By Courier</h3></div>
          <div class="panel-body">
              <div class="responsive-table">

 <div class="dropdown form-inline pull-left">
     <div class="form-group">
    <label>By Courier:</label>
  <br>
    <select class="form-text" v-model="courier_id" @keyup.enter="doFilter">
        <option v-for="(courier, index) in couriers" :value="courier.courier_code">{{ courier.courier_name }}</option>
    </select> 
  </div>
  <br>
  <br>
  <div class="form-group">
    <label>By Invoice Date:</label>
  <br>
    <datepicker v-model="date_invoice" class="form-text" :minimumView="'month'" :format="customFormatterMY" :maximumView="'year'" :initialView="'year'"  @keyup.enter="doFilter"></datepicker>
  </div>
  <br>
  <br>
  <div class="form-group">
<button class="btn btn-primary" @click.prevent="doFilter">Search <i class="fa fa-search position-right"></i></button>
<button class="btn btn-warning" @click.prevent="resetFilter">Reset Form <i class="fa fa-refresh position-right"></i></button> 
  </div>
 </div>

 <div class="dropdown form-inline pull-right">
  <div class="form-group">
    <label>Per Page:</label>
    <select class="form-control" v-model="perPage">
      <option :value=10>10</option>
      <option :value=25>25</option>
      <option :value=50>50</option>
      <option :value=75>75</option>
      <option :value=100>100</option>
    </select>
  </div>
</div>


    <vuetable ref="vuetable"
      api-url="/dashboard"
      :fields="fields"
      pagination-path=""
      :per-page="perPage"
      :css="css.table"
      :append-params="moreParams" 
      @vuetable:pagination-data="onPaginationData"
	  @vuetable:loading="onLoading"        
		@vuetable:load-error="onLoadingError"        
		@vuetable:load-success="onLoaded"
    ></vuetable> 
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo"
        info-class="pagination-info"
      ></vuetable-pagination-info>
      <vuetable-pagination ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
              </div>
          </div>
      </div>
    </div>
  </div>


  <div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
      <div class="panel">
          <div class="panel-heading"><h3>Data Summary By Customer</h3></div>
          <div class="panel-body">
              <div class="responsive-table">

 <div class="dropdown form-inline pull-left">
     <div class="form-group">
    <label>By Courier:</label>
  <br>
    <select class="form-text" v-model="courier_id_company" @keyup.enter="doFilterCompany">
        <option v-for="(courier, index) in couriers" :value="courier.courier_code">{{ courier.courier_name }}</option>
    </select> 
  </div>
  <br>
  <br>
  <div class="form-group">
    <label>By Invoice Date:</label>
  <br>
    <datepicker v-model="date_invoice_company" class="form-text" :minimumView="'month'" :format="customFormatterMY" :maximumView="'year'" :initialView="'year'"  @keyup.enter="doFilterCompany"></datepicker>
  </div>
  <br>
  <br>
  <div class="form-group">
    <label>By Customer : </label>
  <input type="text" v-model="filter_company" class="form-control android" @keyup.enter="doFilterCompany" placeholder="Customer Name">
  </div>
  <br>
  <br>
  <div class="form-group">
<button class="btn btn-primary" @click.prevent="doFilterCompany">Search <i class="fa fa-search position-right"></i></button>
<button class="btn btn-warning" @click.prevent="resetFilterCompany">Reset Form <i class="fa fa-refresh position-right"></i></button> 
  </div>
 </div>

 <div class="dropdown form-inline pull-right">
  <div class="form-group">
    <label>Per Page:</label>
    <select class="form-control" v-model="perPageCompany">
      <option :value=10>10</option>
      <option :value=25>25</option>
      <option :value=50>50</option>
      <option :value=75>75</option>
      <option :value=100>100</option>
    </select>
  </div>
</div>


    <vuetable ref="vuetableCompany"
      api-url="/dashboard-company"
      :fields="fieldsCompany"
      pagination-path=""
      :per-page="perPageCompany"
      :css="css.table"
      :append-params="moreParamsCompany"
      @vuetable:pagination-data="onPaginationDataCompany"
	  @vuetable:loading="onLoadingCompany"        
		@vuetable:load-error="onLoadingErrorCompany"        
		@vuetable:load-success="onLoadedCompany"
    ></vuetable> 
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo"
        info-class="pagination-info"
      ></vuetable-pagination-info>
      <vuetable-pagination ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePageCompany"
      ></vuetable-pagination>
    </div>
              </div>
          </div>
      </div>
    </div>
  </div>



</div>
</template>

<script>
     
import Vue from 'vue'
import accounting from 'accounting'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker' 
import VueEvents from 'vue-events'
import Hashids from 'hashids'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2' 
import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'
import {Money} from 'v-money'

import DetailActionsDashboard1 from '../Buttons/DetailActionsDashboard1.vue'  
Vue.component('detail-actions-dashboard-1', DetailActionsDashboard1)
import DetailActionsDashboard2 from '../Buttons/DetailActionsDashboard2.vue'  
Vue.component('detail-actions-dashboard-2', DetailActionsDashboard2)


Vue.use(VueSweetalert2)
Vue.use(Loading)
Vue.use(VueEvents)
    

export default {
  components: { 
    Vuetable, 
    VuetablePagination,
    VuetablePaginationInfo,
    Datepicker,  
	  Money,

  },
  data () {
    return { 
	      isLoading: false,
        position: 'up right',
        closeBtn: true, 
        perPage: 10,
        perPageCompany: 10,
        couriers:[], 
        courier_id:'',
        date_invoice_now:'',
        date_invoice:'',
        courier_id_company:'', 
        date_invoice_company:'',
        filter_company:'',
        fieldsCompany:[ 
            {
                name: '__sequence',
                title: 'No',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },  
            {
                name: 'couriers_courier_name',
                title: 'Courier',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'invoice_files_date_invoice',
                title: 'Invoice Date',
                titleClass: 'text-center',
                dataClass: 'text-center',
                callback: 'customFormatterMYX'
            },
            {
                name: 'company_name',
                title: 'Company Order',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },  
            {
                name: 'total_awb',
                title: 'Total AWB',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: '__component:detail-actions-dashboard-2',
                title: 'Actions',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }
        ],
        fields: [ 
            {
                name: '__sequence',
                title: 'No',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },  
            {
                name: 'courier_name',
                title: 'Courier',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'date_invoice',
                title: 'Invoice Date',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'customFormatterMYX'
            },  
            {
                name: 'true_order',
                title: 'AWB True',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'false_order',
                title: 'AWB False',
                titleClass: 'text-center',
				dataClass: 'text-center',
                callback: 'changeClass'
            }, 
            {
                name: 'total_order',
                title: 'Total AWB',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: '__component:detail-actions-dashboard-1',
                title: 'Actions',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }
        ],
        css: {
            table: {
                tableClass: 'table table-bordered table-striped table-hover',
                ascendingIcon: 'glyphicon glyphicon-chevron-up',
                descendingIcon: 'glyphicon glyphicon-chevron-down'
            },
            pagination: {
                wrapperClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageClass: 'page',
                linkClass: 'link',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                },
            },
            icons: {
                first: 'glyphicon glyphicon-step-backward',
                prev: 'glyphicon glyphicon-chevron-left',
                next: 'glyphicon glyphicon-chevron-right',
                last: 'glyphicon glyphicon-step-forward',
            },
        },
        moreParams: {'dateNow': moment().subtract(1, 'month').format('MM/YYYY')},
        moreParamsCompany: {'dateNow': moment().subtract(1, 'month').format('MM/YYYY')}
    }
  },
  watch: { 

  },
  methods: {
            doFilterCompany () {
              var date = ''
               if(!this.date_invoice_company){
                date = this.date_invoice_now
               }else{
                date =this.customFormatterMY(this.date_invoice_company)
               }
              this.$events.fire('filter-set-company', date, this.courier_id_company ,this.filter_company)
            },
            resetFilterCompany () {
                this.courier_id_company = ''
                this.date_invoice_company= ''
                this.$events.fire('filter-reset-company')
            }, 
            doFilter () {
              var date = ''
               if(!this.date_invoice){
                date = this.date_invoice_now
               }else{
                date =this.customFormatterMY(this.date_invoice)
               }
              this.$events.fire('filter-set', date, this.courier_id )
            },
            resetFilter () {
                this.courier_id = ''
                this.date_invoice= ''
                this.$events.fire('filter-reset')
            }, 

            dataCourier () {
                this.loading();
                axios.get('/get-courier').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.couriers = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },
            onChangePage (page) {
                 this.$refs.vuetable.changePage(page)
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onLoading() {
                this.loading();
                this.isLoading = true;
            },
            onLoaded() {
            this.isLoading = false;
            },
            onLoadingError() {
               this.isLoading = true;
               axios.get('dashboard').then((response) => {
                   if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        this.isLoading = false;
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.isLoading = false;
                        }
                    }
                });
            },	
            onChangePageCompany (page) {
                 this.$refs.vuetable.changePage(page)
            },
            onPaginationDataCompany (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onLoadingCompany() {
                this.loading();
                this.isLoading = true;
            },
            onLoadedCompany() {
            this.isLoading = false;
            },
            onLoadingErrorCompany() {
               this.isLoading = true;
               axios.get('dashboard-company').then((response) => {
                   if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        this.isLoading = false;
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.isLoading = false;
                        }
                    }
                });
            },	
            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },
			
			 changeClass(value) {
			 var dd = value;
			     if(value>0) {
				   dd = "<span style='color:red'>"+value+"</span>";
				 }
				return dd;
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }, 
            diacak(id){
                var hashids = new Hashids('',1000,'abcdefghijklmnopqrstuvwxyz0987654321ABCDEFGHIJKLMNOPQRSTUVWXYZ'); // no padding
                return hashids.encode(id); 
           },
            detailItemByCourier(item ,index = this.indexOf(item)){
                this.$router.push({name:'invoicedetail', params: {id: this.diacak(item.id) }});
            },	
            detailItemByCompany(item ,index = this.indexOf(item)){
                this.$router.push({name:'invoicedetailbycompany', params: {id: this.diacak(item.id),company:item.company_id}});
            }	
             

  },
  events: { 
    'filter-set' (date,courier) {
      this.moreParams = {
        'dateNow':this.date_invoice_now,date: date,courier: courier
      }
      Vue.nextTick(() => this.$refs.vuetable.refresh() )
    },
    'filter-reset' () {
      this.moreParams = {'dateNow':this.date_invoice_now}
      Vue.nextTick(() => this.$refs.vuetable.refresh() )
    } ,
    'filter-set-company' (date,courier,filter) {
      this.moreParamsCompany = {
        'dateNow':this.date_invoice_now,date: date,courier: courier,filter:filter
      }
      Vue.nextTick(() => this.$refs.vuetableCompany.refresh() )
    },
    'filter-reset-company' () {
      this.moreParamsCompany = {'dateNow':this.date_invoice_now}
      Vue.nextTick(() => this.$refs.vuetableCompany.refresh() )
    } 
  },
  created: function() { 
    let self = this;
    this.$root.$on('detailitembycourier', function(data,index){
        self.detailItemByCourier(data,index);
    });
    this.$root.$on('detailitembycompany', function(data,index){
        self.detailItemByCompany(data,index);
    });

  },
	mounted(){ 
          this.date_invoice_now= moment().subtract(1, 'month').format('MM/YYYY');
          this.dataCourier();
  }

}
</script>
<style> 
</style>