 <template>
 <div>
    <div class="detail-actions-dashboard-1">
      <button class="btn btn-sm" @click="itemAction('detail-item-by-courier', rowData, rowIndex)"><i class="fa fa-search-plus"> Detail</i></button>
    </div>
</div>
  </template>

  <script>

  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      itemAction (action, data, index) {
      if(action === "detail-item-by-courier")
      {
               this.$root.$emit('detailitembycourier', data , index);
			   
      }
      else
      {
        alert('error');
      }
        
      }
      },
      
		mounted() { 
             
        }
    
  }
  </script>

  <style>
    .detail-actions-dashboard-1 button.ui.button {
      padding: 8px 8px;
    }
    .detail-actions-dashboard-1 button.ui.button > i.icon {
      margin: auto !important;
    }
  </style>