<template>
  <div> 
    <div class="col-md-12" style="padding:20px;width:2700px">
      <div class="col-md-12 padding-0">
        <div class="panel box-v3"> 
            <div class="panel-heading bg-white border-none">
                <h4><span class="fa fa-dollar"></span> Customer's Trucking Price</h4>
            </div>
          <div class="panel-body">
                                    
            <button type="button" class="btn btn-primary"  @click="createItem()">
                <i class="fa fa-plus"></i> Customer's Trucking Price
            </button>
 
 	<br>
    <br>

<div class="filter-bar">

<div class="dropdown form-inline pull-right" style="margin-right:1150px">
                <label>Per Page:</label>

                <select class="form-control" v-model="perPage">
                    <option :value=10>10</option>
                    <option :value=25>25</option>
                    <option :value=50>50</option>
                    <option :value=75>75</option>
                    <option :value=100>100</option>
                </select>
            </div>
             <form class="form-inline">
<div style="overflow-x:auto;">
  <table>
<tr>
      <td><label>Date From :</label></td>
      <td><datepicker v-model="startTime.time"  :typeable="true" :format="customFormatter" placeholder="YYYY-MM-DD" @keyup="doFilter"></datepicker> </td>
      <td><label>&nbsp;&nbsp;Date To :</label></td>
      <td><datepicker v-model="endtime.time"  :typeable="true" :format="customFormatter" placeholder="YYYY-MM-DD" @keyup="doFilter"></datepicker></td>
    </tr>
    <tr>
      <td colspan="4" style="padding-top: 1%;"></td>
    </tr>
    <tr>
      <td colspan="4">
<div class="text-left">
<button class="btn btn-warning" @click.prevent="resetFilter">Reset Form <i class="fa fa-refresh position-right"></i></button>
<button class="btn btn-danger" @click.prevent="sumSelectedItems()">Delete <i class="fa fa-trash position-right"></i></button>
                                    </div>
</td>
       </tr>
</table>
 </div>
       </form>
       
    <br>
    <div style="width:2600px"> 
    <div class="col-xs"><select class="form-text" style="width:120px;margin-left:380px" v-model="courier_id" @change.enter="doFilter">
          <option v-for="(courier, index) in couriers" :value="courier.id">{{ courier.courier_name }}</option>
      </select><select style="width:150px;" class="form-text" v-model="customer_id" aria-required="true" @change.enter="doFilter">
        <option v-for="(customer, index) in customers" :value="customer.id">{{ customer.customer_code }}</option>
    </select><input @keyup="doFilter" type="text" class="form-text" style="width:160px;" v-model="code_area" aria-required="true"><input type="text" class="form-text" style="width:130px;" v-model="contract_no" aria-required="true" @keyup="doFilter"><select class="form-text" style="width:100px;" v-model="service" required aria-required="true"  @change.enter="doFilter">
        <option v-for="(service, index) in services" :value="service.service">{{ service.service }}</option>
    </select><input type="text" class="form-text" style="width:100px;" v-model="asal_negara" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:100px;" v-model="asal_kota" aria-required="true" 
    @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="tujuan_negara" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="tujuan_provinsi" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="tujuan_kota" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="tujuan_kecamatan" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="tujuan_kelurahan" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="tujuan_zona" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;" v-model="harga_publish" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:160px;"  placeholder="YYYY-MM" v-model="start_month" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:150px;"  placeholder="YYYY-MM" v-model="end_month" aria-required="true" @keyup="doFilter"></div>
    <vuetable ref="vuetable"
      api-url="/getAllPricesByCustomer"
      :fields="fields"
      pagination-path=""
      :per-page="perPage"
      :css="css.table"
      :append-params="moreParams" 
      @vuetable:pagination-data="onPaginationData"
	  @vuetable:loading="onLoading"        
		@vuetable:load-error="onLoadingError"        
		@vuetable:load-success="onLoaded"
    ></vuetable> 
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo"
        info-class="pagination-info"
      ></vuetable-pagination-info>
      <vuetable-pagination ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
    </div>
 

    </div>
 
        </div> 
      </div>
    </div>
  </div>

<!-- MODAL -->
<div class="container-fluid display-page" id="display-post-category" >
 <!-- @create Modal--->
        <modal  v-if="modal.get('create')" @close="modal.set('create', false)" >
        <template slot="header" ><h4 align="center">Add New Customer's Trucking Price</h4></template>
        <template slot="body" >
            <form method="POST" action="" @submit.prevent="submitData()">
                <div class="modal-body">
 
    <div class="col-md-12 padding-0">

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <autocomplete
      source="/searchAreaCode?q="
      results-property="data"
      placeholder="Search Code Area"
      @selected="insertAreaId"
      results-display="code_area">
    </autocomplete>
</div>    

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="hidden" class="form-text" v-model="forms.area_id" required aria-required="true">  
</div> 

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="text" class="form-text" v-model="forms.contract_no" required aria-required="true">
    <span class="bar"></span>
    <label>No Contract</label>
    <span class="label label-danger" v-for="error of errors['contract_no']">
        {{ error }}
    </span>  
</div> 

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.customer_id" required aria-required="true">
        <option v-for="(customer, index) in customers" :value="customer.id">{{ customer.customer_code }}</option>
    </select> 
    <span class="bar"></span>
    <label>Customer Code</label>
    <span class="label label-danger" v-for="error of errors['customer_id']">
        {{ error }}
    </span>
</div>

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.service" required aria-required="true">
        <option v-for="(service, index) in services" :value="service.service">{{ service.service }}</option>
    </select> 
    <span class="bar"></span>
    <label>Service</label>
    <span class="label label-danger" v-for="error of errors['service']">
        {{ error }}
    </span>
</div>


<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="text" class="form-text" v-model="forms.harga_publish" @keypress="checkAngka" @keyup="forms.harga_publish = (isNaN(parseInt(forms.harga_publish.replace(/,/g, ''))) ? 0 : parseInt(forms.harga_publish.replace(/,/g, '')).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))" required aria-required="true">
    <span class="bar"></span>
    <label>Harga Jual</label>
    <span class="label label-danger" v-for="error of errors['harga_publish']">
        {{ error }}
    </span>  
</div>  

<div class="form-group form-animate-text" style="margin-top:40px;width:500px; !important;">
    <label style="">Start Month</label><br><br>
	<datepicker v-model="forms.start_month"  :typeable="true" :format="customFormatterYM" required :initialView="'year'" :minimumView="'month'"  placeholder="YYYY-MM"></datepicker>
    <span class="bar"></span>
    <span class="label label-danger" v-for="error of errors['start_month']">
        {{ error }}
    </span>  
</div>


<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <label style="">End Month</label><br><br>
	<datepicker v-model="forms.end_month"  :typeable="true" :format="customFormatterYM" required :initialView="'year'" :minimumView="'month'"  placeholder="YYYY-MM"></datepicker>
    <span class="bar"></span>
    <span class="label label-danger" v-for="error of errors['end_month']">
        {{ error }}
    </span>  
</div> 

    </div> 

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="modal.set('create', false)" >Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>

            </form>
        </template>
        </modal>


<!-- @view --->
        <modal  v-if="modal.get('view')" @close="modal.set('view', false)"  >
        <template slot="header" ><h4 align="center">Detail Customer's Trucking Price</h4></template>
        <template slot="body" >
                <div class="modal-body">
 
                   <!-- form Group -->
<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">Area</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{forms.code_area}}</div>
            </div>
         </div>
    </div>
</div>     

<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">Customer</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{forms.customer_code}}</div>
            </div>
         </div>
    </div>
</div> 

<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">Contract No</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{forms.contract_no}}</div>
            </div>
         </div>
    </div>
</div>       

<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">Service</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{forms.service}}</div>
            </div>
         </div>
    </div>
</div>    

<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">Harga Jual</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{formatPrice(forms.harga_publish)}}</div>
            </div>
         </div>
    </div>
</div> 

<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">Start Date</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{customFormatterMonthYM(forms.start_month)}}</div>
            </div>
         </div>
    </div>
</div>  

<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-4 control-label text-left">End Date</label>
             <div class="col-sm-8">
              <div class="col-sm-8">{{customFormatterMonthYM(forms.end_month)}}</div>
            </div>
         </div>
    </div>
</div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="modal.set('view', false)" >Close</button>
                </div>
        </template>
        </modal>

        
<!-- @update --->
        <modal  v-if="modal.get('edit')" @close="modal.set('edit', false)"  >
        <template slot="header" ><h4>Edit Customer's Trucking Price</h4></template>
        <template slot="body" >

            <form method="POST" action="" @submit.prevent="updateData()">
                <div class="modal-body">


 
    <div class="col-md-12 padding-0">

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <autocomplete
      source="/searchAreaCode?q="
      results-property="data"
      placeholder="Search Code Area"
      @selected="insertAreaId"
      results-display="code_area">
    </autocomplete>
</div>    

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="hidden" class="form-text" v-model="forms.area_id" required aria-required="true">  
</div> 

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="text" class="form-text" v-model="forms.contract_no" required aria-required="true">
    <span class="bar"></span>
    <label>No Contract</label>
    <span class="label label-danger" v-for="error of errors['contract_no']">
        {{ error }}
    </span>  
</div> 

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.customer_id" required aria-required="true">
        <option v-for="(customer, index) in customers" :value="customer.id">{{ customer.customer_code }}</option>
    </select> 
    <span class="bar"></span>
    <label>Customer Code</label>
    <span class="label label-danger" v-for="error of errors['customer_id']">
        {{ error }}
    </span>
</div>

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.service" required aria-required="true">
        <option v-for="(service, index) in services" :value="service.service">{{ service.service }}</option>
    </select> 
    <span class="bar"></span>
    <label>Service</label>
    <span class="label label-danger" v-for="error of errors['service']">
        {{ error }}
    </span>
</div>

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="text" class="form-text" v-model="forms.harga_publish_mod" id="formsUpdate_harga_publish" @keypress="checkAngka" @keyup="forms.harga_publish_mod = (isNaN(parseInt(forms.harga_publish_mod.replace(/,/g, ''))) ? 0 : parseInt(forms.harga_publish_mod.replace(/,/g, '')).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))" @change="forms.harga_publish_mod = (isNaN(parseInt(forms.harga_publish_mod.replace(/,/g, ''))) ? 0 : parseInt(forms.harga_publish_mod.replace(/,/g, '')).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,'))"required aria-required="true">
    <span class="bar"></span>
    <label>Harga Jual</label>
    <span class="label label-danger" v-for="error of errors['harga_publish_mod']">
        {{ error }}
    </span>  
</div>

<div class="form-group form-animate-text" style="margin-top:40px;width:500px; !important;">
    <label style="">Start Month</label><br><br>
	<datepicker v-model="forms.start_month"  :typeable="true" :format="customFormatterYM" required :initialView="'year'" :minimumView="'month'"  placeholder="YYYY-MM"></datepicker>
    <span class="bar"></span>
    <span class="label label-danger" v-for="error of errors['start_month']">
        {{ error }}
    </span>  
</div>


<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <label style="">End Month</label><br><br>
	<datepicker v-model="forms.end_month"  :typeable="true" :format="customFormatterYM" required :initialView="'year'" :minimumView="'month'"  placeholder="YYYY-MM"></datepicker>
    <span class="bar"></span>
    <span class="label label-danger" v-for="error of errors['end_month']">
        {{ error }}
    </span>  
</div>  

    </div>  				 


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="modal.set('edit', false)" >Close</button>
                    <button type="submit" class="btn btn-success">Edit</button>
                </div>
            </form>
        </template>
        </modal>


</div>
<!-- MODAL -->

</div>
</template>

<script>
   /* ERRORS FORM */   
    class Errors{
            constructor(){
                this.errors = {};
            }
            get(field){
                if(this.errors[field]){
                    return  this.errors[field][0];
                }
            }
            record(errors){
                this.errors = errors.response.data;
            }
            any(){
                return Object.keys(this.errors).length > 0;
            }
            has(field){
                return this.errors.hasOwnProperty(field);
            }
            clear(field){
                if(field) delete this.errors[field];
                this.errors = {};
            }
            clearAll(){
                this.errors = "";
            }
    }


        /* CRUD FORM */
        class CrudForm {
            constructor(data) {
                this.originalData = data;
                for(let field in data){
                    this[field] = data[field];
                }
            }
            reset(){
                for(let field in this.originalData){
                    this[field] = '';
                }
            }
            /*  Set a value to the temp , verify if has this item and update  */
            setFillItem(item , index){
                for(let field in this.originalData){
                    if(field in item){
                        this[field] = item[field];
                    }else{
                        // if is index
                        if(field == 'index'){ this[field] = index; }
                    }
                }
            }
            data(){
                let data = Object.assign({} , this);
                delete data.originalData;
                delete data.errors;
                return data;
            }
        }
        /* CRUD MODAL */
        class CrudModal{
            constructor(data){
                this.modal = data;
            }
            get(value){
                if(this.modal[value]){
                    return this.modal[value];
                }
            }
            set(data , value){
                this.modal[data] = value;
            }
        }
        //  COMPONENT MODAL
        const Modal = {
            template: `   <transition name="modal">
                                <div class="modal-mask">
                                  <div class="modal-wrapper">
                                    <div :class="modalStyle">
                                    <a class="close-modal" @click="$emit('close')" ></a>
                                      <div class="modal-header">
                                           <p class="modal-card-title"><slot name="header" class="modal-card-title "></slot></p>
                                      </div>
                                        <slot name="body">
                                          default body
                                        </slot>
                                    </div>
                                  </div>
                                </div>
                              </transition>` ,
            props: {
                modalsize: {type: String},
            } ,
            computed: {
                modalStyle() {
                    return this.modalsize == null ? 'modal-container' : this.modalsize + ' modal-container';
                },
                created(){

                }
            }
        };

import Vue from 'vue'
import Autocomplete from 'vuejs-auto-complete'
import accounting from 'accounting'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker' 
import VueEvents from 'vue-events'
import Hashids from 'hashids'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2'

import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

import AllActions from '../Buttons/AllActions.vue'  
import VueCurrencyInput from 'vue-currency-input'
 

Vue.use(VueSweetalert2)
Vue.use(Loading)
Vue.use(VueEvents)

const pluginOptions = {
  /* see config reference */
  globalOptions: { currency: 'IDR'}
}

Vue.use(VueCurrencyInput, pluginOptions)

export default {
  components: {   
    Vuetable, 
    Autocomplete,
    VuetablePagination,
    VuetablePaginationInfo,
    Datepicker,  
    'modal': Modal,
    'all-actions': AllActions,
  },
  data () {
    return {  
        errors: new Errors(),
        token: localStorage.getItem('token'), 
		areas:[],
		start_month:'',
		end_month:'',
		area_id:'',
    contract_no:'',
    code_area:'',
    harga_publish_mod:'',
		customers:[],
    couriers:[],
		service:'',
    services:[],
		code_area:'',
		harga_publish:'',
		courier_id:'',
    customer_id:'',
    asal_negara:'',
    asal_kota:'',
    tujuan_negara:'',
    tujuan_provinsi:'',
    tujuan_kota:'',
    tujuan_kecamatan:'',
    tujuan_kelurahan:'',
    tujuan_zona:'',
    zona:'',
	    forms:new CrudForm({index:'',  id:'' , customer_id:'',area_id:'',contract_no:'',code_area:'',harga_publish_mod:'',start_month:'',end_month:'',code_area:'',service:'', harga_publish : '',customer_code:''}),
        modal:new CrudModal({create:false , view:false  , edit:false}),
	    isLoading: false,
        perPage: 10,
        startTime: {
            time: ''
        },
        endtime: {
            time: ''
        },
        option: {
            type: 'day',
            week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
            month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            format: 'YYYY-MM-DD',
            placeholder: 'YYYY-MM-DD',
            inputStyle: {
            'display': 'inline-block',
            'padding': '6px',
            'line-height': '22px',
            'font-size': '16px',
            'border': '2px solid #fff',
            'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
            'border-radius': '2px',
            'color': '#5F5F5F'
            },
            color: {
            header: '#B799DA',
            headerText: '#f00'
            },
            buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
            },
            overlayOpacity: 0.5, // 0.5 as default 
            dismissible: true // as true as default 
        },
        position: 'up right',
        closeBtn: true,
        submitSelectedItems:[],
        fields: [ 
            {
                name: '__sequence',
                title: 'No',
                width:'40px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: '__checkbox:id',
                width:'40px',
                titleClass: 'text-center',
                dataClass: 'text-center',
            },
			      {
                name: '__component:all-actions',
                title: 'Actions',
                width:'300px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'courier_name',
                title: 'Courier',
                width:'120px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
			      {
                name: 'customer_code',
                title: 'Customer Code',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'code_area',
                title: 'Code Area',
                width:'160px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'contract_no',
                title: 'No Contract',
                width:'130px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'service',
                title: 'Service',
                width:'100px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'asal_negara',
                title: 'Negara Asal',
                width:'100px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'asal_kota',
                title: 'Kota Asal',
                width:'100px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'tujuan_negara',
                title: 'Negara Tujuan',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'tujuan_provinsi',
                title: 'Provinsi Tujuan',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'tujuan_kota',
                title: 'Kota Tujuan',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'tujuan_kecamatan',
                title: 'Kecamatan Tujuan',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },

            {
                name: 'tujuan_kelurahan',
                title: 'Kelurahan Tujuan',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },

            {
                name: 'tujuan_zona',
                title: 'Zona',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
			
			      {
                name: 'harga_publish',
                title: 'Harga Jual',
                width:'150px',
                titleClass: 'text-center',
                dataClass: 'text-right',
			         	callback:'formatPrice'
            },
			      {
                 name: 'start_month',
                title: 'Start Month',
                titleClass: 'text-center',
                dataClass: 'text-right',
				        callback:'customFormatterMonthYM'
            },
		      	{
                name: 'end_month',
                title: 'End Month',
                titleClass: 'text-center',
                dataClass: 'text-right',
				        callback:'customFormatterMonthYM'
            }
          ],
        filterText: '',
        css: {
            table: {
                tableClass: 'table table-bordered table-striped table-hover',
                ascendingIcon: 'glyphicon glyphicon-chevron-up',
                descendingIcon: 'glyphicon glyphicon-chevron-down'
            },
            pagination: {
                wrapperClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageClass: 'page',
                linkClass: 'link',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                },
            },
            icons: {
                first: 'glyphicon glyphicon-step-backward',
                prev: 'glyphicon glyphicon-chevron-left',
                next: 'glyphicon glyphicon-chevron-right',
                last: 'glyphicon glyphicon-step-forward',
            },
        },
        moreParams: {}
    }
  },
        watch: { 
            'perPage'(newValue, oldValue) {
               this.$events.fire('filter-set', this.filterText)
            }, 
        },
        methods: {

            updateData() { 
                this.forms.harga_publish = this.forms.harga_publish_mod;
                axios.put('/pricesForCustomer/'+this.forms.id, this.forms).then(response => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                         this.errors='';
                         this.resetFilter(); 
                         this.modal.set('edit', false);
                         if(response.data.status == 200){  
                            this.success(response.data.message);
                         }else{
				             this.error(response.data.message);
                         }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors; 
                        }else if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                                        
                }) 
            },


            submitData() { 
                axios.post('/pricesForCustomer/storePrice', this.forms).then(response => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
						 this.errors='';
                         this.resetFilter(); 
                         this.modal.set('create', false);
                         if(response.data.status == 200){  
                            this.success(response.data.message);
                         }else{
				             this.error(response.data.message);
                         }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }else if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                                        
                }) 
            },
			
		      dataCourier () {
                this.loading();
                axios.get('/get-courier').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.couriers = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },      
			
			   getCustomer() {
                this.loading();
                axios.get('/get-customers').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.customers = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

            doFilterx() {

            },

            doFilter () {
        	    if(!this.startTime.time && !this.endtime.time){
                    this.$events.fire('filter-set',this.startTime.time, this.endtime.time,this.courier_id,this.code_area,this.customer_id,this.service,this.asal_negara,this.asal_kota,this.tujuan_negara,this.tujuan_provinsi,this.tujuan_kota,this.tujuan_kecamatan,this.tujuan_kelurahan,this.tujuan_zona,this.harga_publish,this.start_month,this.end_month)
                }else if(this.startTime.time && !this.endtime.time){
                    var startTime = this.customFormatter(this.startTime.time)
                    this.$events.fire('filter-set',this.startTime.time, this.endtime.time,this.courier_id,this.code_area,this.customer_id,this.service,this.asal_negara,this.asal_kota,this.tujuan_negara,this.tujuan_provinsi,this.tujuan_kota,this.tujuan_kecamatan,this.tujuan_kelurahan,this.tujuan_zona,this.harga_publish,this.start_month,this.end_month)
                }else if(!this.startTime.time && this.endtime.time){
                    var endtime = this.customFormatter(this.endtime.time)
                    this.$events.fire('filter-set',this.startTime.time, this.endtime.time,this.courier_id,this.code_area,this.customer_id,this.service,this.asal_negara,this.asal_kota,this.tujuan_negara,this.tujuan_provinsi,this.tujuan_kota,this.tujuan_kecamatan,this.tujuan_kelurahan,this.tujuan_zona,this.harga_publish,this.start_month,this.end_month)
                }else if(this.startTime.time && this.endtime.time){ 
                    if(this.endtime.time < this.startTime.time)
                        {
                            alert('Input Date Wrong');
                        }else{
                            var startTime = this.customFormatter(this.startTime.time)
                            var endtime = this.customFormatter(this.endtime.time)
                            this.$events.fire('filter-set',this.startTime.time, this.endtime.time,this.courier_id,this.code_area,this.customer_id,this.service,this.asal_negara,this.asal_kota,this.tujuan_negara,this.tujuan_provinsi,this.tujuan_kota,this.tujuan_kecamatan,this.tujuan_kelurahan,this.tujuan_zona,this.harga_publish,this.start_month,this.end_month)
                        }
                }else{
                    this.$events.fire('filter-set',this.startTime.time, this.endtime.time,this.courier_id,this.code_area,this.customer_id,this.service,this.asal_negara,this.asal_kota,this.tujuan_negara,this.tujuan_provinsi,this.tujuan_kota,this.tujuan_kecamatan,this.tujuan_kelurahan,this.tujuan_zona,this.harga_publish,this.start_month,this.end_month)
                }
            },
            diacak(id){
                var hashids = new Hashids('',1000,'abcdefghijklmnopqrstuvwxyz0987654321ABCDEFGHIJKLMNOPQRSTUVWXYZ'); // no padding
                return hashids.encode(id); 
           },
           
            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },
            sumSelectedItems() {
                var ttl = this.$refs.vuetable.selectedTo;
                if(ttl.length <= 0)
                {
                    this.question('Choose data for delete');
                }else{
                    this.$swal({
                        title: 'Are you sure ?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes!'
                    }).then((result) => {
                        if (result.value) {
                            var join_selected_values = ttl.join(","); 
                                axios.delete('/pricesForCustomer/delete-all/'+ join_selected_values)
                                .then(response => {
                                    if(!response.data){ 
                                        window.location.href = window.webURL; 
                                    }else{
                                        if(response.data.status == 200){  
                                            this.errors='';
                                            this.resetFilter(); 
                                            this.success(response.data.message); 
                                        }else{
                                            this.resultError(response.data.message)
                                        } 
                                    }
                                }).catch(error => {
                                    if (! _.isEmpty(error.response)) {
                                        if (error.response.status == 422) {
                                            this.resultError(error.response.data.errors)
                                        }else if (error.response.status == 500) {
                                            this.$router.push('/server-error');
                                        }else{
                                            this.$router.push('/page-not-found');
                                        }
                                    } 
                                });
                        }
                    })
                }
                
            },
           deleteItem(item ,index = this.indexOf(item)){
                this.$swal({
                    title: 'Are you sure ?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/pricesForCustomer/'+ item.id)
                        .then(response => {
                            if(!response.data){ 
                                window.location.href = window.webURL; 
                            }else{
                                if(response.data.status == 200){    
                                    this.errors='';
                                    this.resetFilter(); 
                                    this.success(response.data.message); 
                                }else{
                                    this.resultError(response.data.message)
                                } 
                            }
                        }).catch(error => {
                            if (! _.isEmpty(error.response)) {
                                if (error.response.status == 422) {
                                   this.resultError(error.response.data.errors)
                                }else if (error.response.status == 500) {
                                    this.$router.push('/server-error');
                                }else{
                                    this.$router.push('/page-not-found');
                                }
                            }
                        });
                    }
                }) 
            }  ,
            editItem(item ,index = this.indexOf(item)){
                this.forms.setFillItem(item , index );
                this.modal.set('edit', true);
             },
            createItem() {
                this.forms.reset();
                this.errors = [];
                this.modal.set('create', true);
            } ,
            viewItem(item ,index = this.indexOf(item)){
                this.forms.setFillItem(item , index );
                this.modal.set('view', true);
             } ,
            formatDate (value, fmt = 'DD-MM-YYYY HH:mm:ss') {
                return (value == null)
                    ? ''
                    : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
            },
            onChangePage (page) {
                 this.$refs.vuetable.changePage(page)
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onLoading() {
                this.loading();
                this.isLoading = true;
            },
            onLoaded() {
            this.isLoading = false;
            },
            onLoadingError() {
               this.isLoading = true;
               axios.get('/pricesForCustomer').then((response) => {
                   if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        this.isLoading = false;
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.isLoading = false;
                        }
                    }
                });
            },	

            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },
			

            resetForms () {
                this.forms.area_id = '' 
                this.forms.service = '' 
                this.forms.contract_no = '' 
				        this.forms.harga_publish = '' 
            },

            resetFilter () {
                this.forms.CrudForm = '';
                this.area_id = '';
        				this.service='';
                this.contract_no = '' 
        				this.harga_publish='';
                this.courier_id='',
                this.code_area='',
                this.customer_id='',
                this.asal_negara='',
                this.asal_kota='',
                this.tujuan_negara='',
                this.tujuan_provinsi='',
                this.tujuan_kota='',
                this.startTime.time = '';
                this.endtime.time = '';
                this.courier_id = '';
                this.code_area = '';
                this.customer_id = '';
                this.service = '';
                this.asal_negara = '';
                this.asal_kota = '';
                this.tujuan_kecamatan = '';
                this.tujuan_kelurahan = '';
                this.tujuan_zona = '';
                this.harga_publish = '';
                this.start_month = '';
                this.end_month = '';
                this.$events.fire('filter-reset');
            },

            fetchIt(){
                this.loading();
                axios.get('/user/get-super-admin').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status != 200){ 
                            window.location.href = window.webURL; 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 422) {
                            this.$router.push('/server-error');
                        }else if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            question(kata) {
                this.$swal('Ooppss?',kata,'question');
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
            /*
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
              */ 
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: { 
            'filter-set' (startTime,endtime,courier_id,code_area,customer_id,service,asal_negara,asal_kota,tujuan_negara,tujuan_provinsi,tujuan_kota,tujuan_kecamatan,tujuan_kelurahan,tujuan_zona,harga_publish,start_month,end_month) {
                this.moreParams = {
                min: startTime, max: endtime,kurir:courier_id,code_area:code_area,customer_id:customer_id,service:service,asal_negara:asal_negara,asal_kota:asal_kota,tujuan_negara:tujuan_negara,tujuan_provinsi:tujuan_provinsi,tujuan_kota:tujuan_kota,tujuan_kecamatan:tujuan_kecamatan,tujuan_kelurahan:tujuan_kelurahan,tujuan_zona:tujuan_zona,tujuan_kecamatan:tujuan_kecamatan,tujuan_kelurahan:tujuan_kelurahan,tujuan_zona:tujuan_zona,harga_publish:harga_publish,start_month:start_month,end_month:end_month
                }
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            },
            'filter-reset' () {
                this.moreParams = {}
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            } 
        },
        created: function() { 
            let self = this;
            this.$root.$on('viewitem', function(data,index){
                //console.log(data);
               self.viewItem(data,index);
            });
            this.$root.$on('edititem', function(data,index){
               self.editItem(data,index);
            });
            this.$root.$on('deleteitem', function(data,index){
               self.deleteItem(data,index);
            });
        },
		mounted() { 
                //this.fetchIt(); 
    			//this.dataArea();
    			this.getCustomer();
          this.dataCourier();
          this.dataService();
        }

}

			$(".btn").click(function(){
				console.log(999999);
				//$('#formsUpdate_harga_publish').trigger('change');
			});
</script>
<style>
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
.modal-backdrop {
z-index: -1;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
     max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.modal-default-button {
  float: right;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>