<template>
  <div> 
    <div class="col-md-12" style="padding:20px;width:1300px">
      <div class="col-md-12 padding-0">
        <div class="panel box-v3"> 
            <div class="panel-heading bg-white border-none">
                <h4><span class="fa fa-check-circle"></span> AWB Tracking</h4>
            </div>
          <div class="panel-body">
 
 	<br>
    <br>

<div class="filter-bar">

             <form class="form-inline">
<div style="overflow-x:auto;">
  <table>
	<tr>
      <td><label>AWB No</label></td>
      <td colspan="3"><input type="text" style="width:200px" v-model="awb_no" class="form-control android" @keyup.enter="doFilter" placeholder="AWB Number" required></td>
    </tr>
     <tr>
      <td colspan="4" style="padding-top: 1%;"></td>
    </tr>
    <tr>
    <tr>
      <td colspan="4" style="padding-top: 1%;"></td>
    </tr>
    <tr>
      <td><label>Courier Name:</label></td>
      <td colspan="3"><select class="form-text" style="width:200px" v-model="courier_code" @keyup.enter="doFilter" required>
        <option v-for="(courier, index) in couriers" :value="courier.courier_code">{{ courier.courier_name }}</option>
    </select></td>
    </tr>
    <tr>
      <td colspan="4">
<div class="text-left">
<button class="btn btn-primary" @click.prevent="doFilter">Track <i class="fa fa-check-circle position-right"></i></button>
<button class="btn btn-warning" @click.prevent="resetFilter">Reset Form <i class="fa fa-refresh position-right"></i></button>
                                    </div>
</td>
       </tr>
</table>
 </div>
       </form>
       
    <br>
    <div style="overflow-x:auto;"> 
    <vuetable ref="vuetable"
      api-url="/getBody"
      :fields="fields"
       pagination-path=""
      :css="css.table"
      :append-params="moreParams" 
	  @vuetable:loading="onLoading"        
		@vuetable:load-error="onLoadingError"        
		@vuetable:load-success="onLoaded"
    ><template slot="actions" slot-scope="props">
            <button @click="showModal" class="btn btn-default"><i class="fa fa-check-square-o"></i> History</button>
        </template></vuetable> 
    </div>
<modals-container/>
    </div>
 
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- MODAL -->

</div>

</template>

<!-- @view --->
        <modal  v-if="modal.get('view')" @close="modal.set('view', false)"  >
        <template slot="header" ><h4 align="center">Detail customer</h4></template>
        <template slot="body" >
                <div class="modal-body">
 
                   <!-- form Group -->
<div class="form-element" style="padding-bottom:50px;">
    <div class="col-md-12 padding-0">
         <div class="form-group">
             <label class="col-sm-2 control-label text-left">Customer Code</label>
             <div class="col-sm-10">
              <div class="col-sm-10">{{}}</div>
            </div>
         </div>
    </div>
</div>   


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="modal.set('view', false)" >Close</button>
                </div>

                <vuestic-data-table
                    ....
                   :editButtonPath="editButtonPath"
                />
        </template>
        </modal>

<script>
   /* ERRORS FORM */   
    class Errors{
            constructor(){
                this.errors = {};
            }
            get(field){
                if(this.errors[field]){
                    return  this.errors[field][0];
                }
            }
            record(errors){
                this.errors = errors.response.data;
            }
            any(){
                return Object.keys(this.errors).length > 0;
            }
            has(field){
                return this.errors.hasOwnProperty(field);
            }
            clear(field){
                if(field) delete this.errors[field];
                this.errors = {};
            }
            clearAll(){
                this.errors = "";
            }
    }


        /* CRUD FORM */
        class CrudForm {
            constructor(data) {
                this.originalData = data;
                for(let field in data){
                    this[field] = data[field];
                }
            }
            reset(){
                for(let field in this.originalData){
                    this[field] = '';
                }
            }
            /*  Set a value to the temp , verify if has this item and update  */
            setFillItem(item , index){
                for(let field in this.originalData){
                    if(field in item){
                        this[field] = item[field];
                    }else{
                        // if is index
                        if(field == 'index'){ this[field] = index; }
                    }
                }
            }
            data(){
                let data = Object.assign({} , this);
                delete data.originalData;
                delete data.errors;
                return data;
            }
        }
        /* CRUD MODAL */
        class CrudModal{
            constructor(data){
                this.modal = data;
            }
            get(value){
                if(this.modal[value]){
                    return this.modal[value];
                }
            }
            set(data , value){
                this.modal[data] = value;
            }
        }
        //  COMPONENT MODAL
        const Modal = {
            template: `   <transition name="modal">
                                <div class="modal-mask">
                                  <div class="modal-wrapper">
                                    <div :class="modalStyle">
                                    <a class="close-modal" @click="$emit('close')" ></a>
                                      <div class="modal-header">
                                           <p class="modal-card-title"><slot name="header" class="modal-card-title "></slot></p>
                                      </div>
                                        <slot name="body">
                                          default body
                                        </slot>
                                    </div>
                                  </div>
                                </div>
                              </transition>` ,
            props: {
                modalsize: {type: String},
            } ,
            computed: {
                modalStyle() {
                    return this.modalsize == null ? 'modal-container' : this.modalsize + ' modal-container';
                },
                created(){

                }
            }
        };

import Vue from 'vue'
import accounting from 'accounting'
import VModal from 'vue-js-modal'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker' 
import VueEvents from 'vue-events'
import Hashids from 'hashids'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2'

import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'  
import DetailActions from '../Buttons/DetailActions.vue'  
 

Vue.use(VueSweetalert2)
Vue.use(Loading)
Vue.use(VueEvents)
Vue.use(VModal, { dynamic: true, dynamicDefaults: { clickToClose: false } })

Vue.component('detail-actions', DetailActions)


export default {
  components: {   
    Vuetable, 
    VuetablePagination,
    VuetablePaginationInfo,
    Datepicker,  
    'modal': Modal,
  },
  data () {
    return {  
        errors: new Errors() ,
        token: localStorage.getItem('token'), 
        modal:new CrudModal({create:false , view:false  , edit:false}),
	    isLoading: false,
        perPage: 10,
        startTime: {
            time: ''
        },
        dataDetail : [],
        couriers : [],
		courier_code:'',
		awb_no:'',
        endtime: {
            time: ''
        },
        option: {
            type: 'day',
            week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
            month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            format: 'YYYY-MM-DD',
            placeholder: 'YYYY-MM-DD',
            inputStyle: {
            'display': 'inline-block',
            'padding': '6px',
            'line-height': '22px',
            'font-size': '16px',
            'border': '2px solid #fff',
            'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
            'border-radius': '2px',
            'color': '#5F5F5F'
            },
            color: {
            header: '#B799DA',
            headerText: '#f00'
            },
            buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
            },
            overlayOpacity: 0.5, // 0.5 as default 
            dismissible: true // as true as default 
        },
        position: 'up right',
        closeBtn: true,
        submitSelectedItems:[],
        fields: [ 
            {
              name: '__slot:actions',
              title: 'Action'
            },
            {
                name: 'courier_code',
                title: 'Courier Code',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'awb_no',
                title: 'AWB No',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'service',
                title: 'Service',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'destination',
                title: 'Destination',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'sender',
                title: 'Sender',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'date_received',
                title: 'Date Received',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'receiver',
                title: 'Receiver',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'status',
                title: 'Status',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }

        ],
        css: {
            table: {
                tableClass: 'table table-bordered table-striped table-hover',
                ascendingIcon: 'glyphicon glyphicon-chevron-up',
                descendingIcon: 'glyphicon glyphicon-chevron-down'
            },
            pagination: {
                wrapperClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageClass: 'page',
                linkClass: 'link',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                },
            },
            icons: {
                first: 'glyphicon glyphicon-step-backward',
                prev: 'glyphicon glyphicon-chevron-left',
                next: 'glyphicon glyphicon-chevron-right',
                last: 'glyphicon glyphicon-step-forward',
            },
        },
        moreParams: {}
    }
  },
        watch: { 
            'perPage'(newValue, oldValue) {
               this.$events.fire('filter-set',awb_no,courier_id)
            }, 
        },
        methods: {

            showModal () {
               this.$modal.show({

                  template: `
                    <div style="width:850px">
                      <table class="table">
                       <thead style="background:#6c7773;color:#0f2837">
                        <tr>
                          <th scope="col">#</th>
                          <th style="width:150px" scope="col">DateTime</th>
                          <th style="width:200px" scope="col">Status</th>
                          <th scope="col">Note</th>
                        </tr>
                      </thead>
                      <tbody style="color:#0f2837">
                        <template v-if="datas.length > 0">
                             <template v-for="history in datas">
                               <tr>
                                  <th scope="row">{{ history.no }}</th>
                                  <th style="width:150px">{{ history.datetime }}</th>
                                  <th style="width:200px">{{ history.status }}</th>
                                  <th>{{ history.note }}</th>
                                </tr>
                            </template>
                        </template>
                        <template v-else>
                             <tr>
                                <th colspan='4' style="text-align:center">No Data Available</th>
                            </tr>
                        </template>
                      </tbody>
                    </table>
                      <button class="btn btn-primary" @click="$emit('close')">Close</button>
                    </div>

                  `,
                  props: ['datas']
                }, 
                {
                  datas:  this.dataDetail
                }, 

                {
                  height: 'auto',
                  width: 850,
                  styles:'margin-top:85px',
                  scrollable:true,
                  pivotY:0,
                }, {
                  'before-close': (event) => { console.log('this will be called before the modal closes'); },

                })
            },

            getCourierForTrackingAWB() {
                this.loading();
                axios.get('/get-courier-tracking-awb').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.couriers = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

            getDetailForTrackingAWB() {
                this.dataDetail = [];

                axios.post('/getDetailForTrackingAWB',{awb_no:this.awb_no,courier_code:this.courier_code}).then((response) => {
                    if(response.data.data)
                    {
                         this.dataDetail = response.data.data;
                    }     
                });
            },

            doFilter () {
        	    this.$events.fire('filter-set', this.awb_no,this.courier_code);
            },
            diacak(id){
                var hashids = new Hashids('',1000,'abcdefghijklmnopqrstuvwxyz0987654321ABCDEFGHIJKLMNOPQRSTUVWXYZ'); // no padding
                return hashids.encode(id); 
           },
           
            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },
            sumSelectedItems() {
                var ttl = this.$refs.vuetable.selectedTo;
                if(ttl.length <= 0)
                {
                    this.question('Choose data for delete');
                }else{
                    this.$swal({
                        title: 'Are you sure ?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes!'
                    }).then((result) => {
                        if (result.value) {
                            var join_selected_values = ttl.join(","); 
                                axios.delete('/customers/delete-all/'+ join_selected_values)
                                .then(response => {
                                    if(!response.data){ 
                                        window.location.href = window.webURL; 
                                    }else{
                                        if(response.data.status == 200){  
                                            this.errors='';
                                            this.resetFilter(); 
                                            this.success(response.data.message); 
                                        }else{
                                            this.resultError(response.data.message)
                                        } 
                                    }
                                }).catch(error => {
                                    if (! _.isEmpty(error.response)) {
                                        if (error.response.status == 422) {
                                            this.resultError(error.response.data.errors)
                                        }else if (error.response.status == 500) {
                                            this.$router.push('/server-error');
                                        }else{
                                            this.$router.push('/page-not-found');
                                        }
                                    } 
                                });
                        }
                    })
                }
                
            },
           deleteItem(item ,index = this.indexOf(item)){
                this.$swal({
                    title: 'Are you sure ?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/customers/'+ item.id)
                        .then(response => {
                            if(!response.data){ 
                                window.location.href = window.webURL; 
                            }else{
                                if(response.data.status == 200){    
                                    this.errors='';
                                    this.resetFilter(); 
                                    this.success(response.data.message); 
                                }else{
                                    this.resultError(response.data.message)
                                } 
                            }
                        }).catch(error => {
                            if (! _.isEmpty(error.response)) {
                                if (error.response.status == 422) {
                                   this.resultError(error.response.data.errors)
                                }else if (error.response.status == 500) {
                                    this.$router.push('/server-error');
                                }else{
                                    this.$router.push('/page-not-found');
                                }
                            }
                        });
                    }
                }) 
            }  ,
            editItem(item ,index = this.indexOf(item)){
                this.forms.setFillItem(item , index );
                this.modal.set('edit', true);
             },
            createItem() {
                this.forms.reset();
                this.errors = [];
                this.modal.set('create', true);
            } ,
            viewItem(item ,index = this.indexOf(item)){
                this.forms.setFillItem(item , index );
                this.modal.set('view', true);
             } ,
            formatDate (value, fmt = 'DD-MM-YYYY HH:mm:ss') {
                return (value == null)
                    ? ''
                    : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
            },
            onChangePage (page) {
                 this.$refs.vuetable.changePage(page)
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onLoading() {
                this.loading();
                this.isLoading = true;
                this.getDetailForTrackingAWB();
            },
            onLoaded() {
            this.isLoading = false;
            },
            onLoadingError() {
               this.isLoading = true;
               axios.get('/customers').then((response) => {
                   if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        this.isLoading = false;
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.isLoading = false;
                        }
                    }
                });
            },	

            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },

            resetForms () {
                this.forms.role_code = '' 
                this.forms.role_name = '' 
            },

            resetFilter () {
                this.awb_no = '';
				this.courier_code = '';
                this.$events.fire('filter-reset');
            },

            fetchIt(){
                this.loading();
                axios.get('/user/get-super-admin').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status != 200){ 
                            window.location.href = window.webURL; 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 422) {
                            this.$router.push('/server-error');
                        }else if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            question(kata) {
                this.$swal('Ooppss?',kata,'question');
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
            /*
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);

            */    
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: { 
            'filter-set' (awb_no,courier_code) {
                this.moreParams = {
                awb_no: awb_no,courier_code:courier_code               }
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            },
            'filter-reset' () {
                this.moreParams = {}
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            } 
        },
        created: function() { 
            let self = this;
            this.$root.$on('viewitem', function(data,index){
                //console.log(data);
               self.viewItem(data,index);
            });
            this.$root.$on('edititem', function(data,index){
               self.editItem(data,index);
            });
            this.$root.$on('deleteitem', function(data,index){
               self.deleteItem(data,index);
            });
        },
		mounted() { 
            this.getCourierForTrackingAWB();
        }

}
</script>
<style>
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
.modal-backdrop {
z-index: -1;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
     max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.modal-default-button {
  float: right;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}

#modals-container{
    
    width:1200px;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>