<template>
    <div>    

        <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                <div class="panel box-v3"> 
                    <div class="panel-heading bg-white border-none">
                        <input class="submit btn btn-warning" @click="backLink()" type="button" value="Back">
                        <br><br>
                        <h4>Invoice #{{this.forms.date_invoice}}</h4>
                    </div>

                    <div class="panel-body">

<div class="media">
    <div class="col-md-12 padding-0">
         <div class="col-md-6 padding-0">
            <div class="col-md-6 padding-0">
             <h5 class="media-heading">Courier</h5> 
            </div> 
            <div class="col-md-6 padding-0">
             <h5 class="media-heading"><b>{{this.forms.courier.courier_name}}</b></h5> 
            </div> 
         </div>
         <div class="col-md-6 padding-0">
            <div class="col-md-6 padding-0">
             <h5 class="media-heading">File Name</h5> 
            </div> 
            <div class="col-md-6 padding-0">
             <h5 class="media-heading"><b>{{this.forms.name}}</b></h5> 
            </div> 
         </div>
    </div>
    <div class="col-md-12 padding-0">
         <div class="col-md-6 padding-0">
            <div class="col-md-6 padding-0">
             <h5 class="media-heading">Invoice Date</h5> 
            </div> 
            <div class="col-md-6 padding-0">
             <h5 class="media-heading"><b>{{this.forms.date_invoice}}</b></h5> 
            </div> 
         </div>
         <div class="col-md-6 padding-0">
            <div class="col-md-6 padding-0">
             <h5 class="media-heading">Status</h5> 
            </div> 
            <div class="col-md-6 padding-0">
             <h5 class="media-heading"><b>{{this.forms.status}}</b></h5> 
            </div> 
         </div>
    </div>
    <div class="col-md-12 padding-0">
         <div class="col-md-6 padding-0"> 
             <button type="button" class="btn btn-primary"  @click="downloadFile()"><i class="fa fa-download"></i> Download Original File</button>
         </div>
         <div class="col-md-6 padding-0"> 
         </div>
    </div>
</div>

                    </div>



                    <div class="panel-heading bg-white border-none"> 
                        <h4>Invoice File Data</h4>
                    </div>


                    <div class="panel-body">
  

<div class="filter-bar"> 
<div class="dropdown form-inline pull-right">
                <label>Per Page:</label>

                <select class="form-control" v-model="perPage">
                    <option :value=10>10</option>
                    <option :value=25>25</option>
                    <option :value=50>50</option>
                    <option :value=75>75</option>
                    <option :value=100>100</option>
                </select>
            </div>
             <form class="form-inline">
<div style="overflow-x:auto;">
  <table>
<tr> 
    <tr>
      <td><label>Search AWB:</label></td>
      <td><input type="text" v-model="filterAwb" class="form-control android" @keyup.enter="doFilter" placeholder="AWB No"></td>
      <td><label>Search Company:</label></td>
      <td><input type="text" v-model="filterCompany" class="form-control android" @keyup.enter="doFilter" placeholder="Company ID"></td>
    </tr>
     <tr>
      <td colspan="4" style="padding-top: 1%;"></td>
    </tr>
    <tr>
      <td><label>Status AWB:</label></td>
      <td><select class="form-control" v-model="filterStatus">
            <option></option>
            <option value='true'>True</option>
            <option value='false'>False</option> 
            </select>
      </td>
    </tr>
    <tr>
      <td colspan="4">
<div class="text-left">
<button class="btn btn-info" @click.prevent="doFilter">Search <i class="fa fa-search position-right"></i></button>
<button class="btn btn-warning" @click.prevent="resetFilter">Reset Form <i class="fa fa-refresh position-right"></i></button> 
<button class="btn btn-primary" @click.prevent="downloadFilter">Export Data <i class="fa fa-file-excel-o"></i></button> 
                                    </div>
</td>
       </tr>
</table>
 </div>
       </form>
       
    <br>
    <div style="overflow-x:auto;padding:20px;width:940px"> 
    <vuetable ref="vuetable"
      :api-url="invoiceDetailUrl"
      :fields="fields"
      pagination-path=""
      :per-page="perPage"
      :css="css.table"
      :append-params="moreParams" 
      @vuetable:pagination-data="onPaginationData"
	  @vuetable:loading="onLoading"        
		@vuetable:load-error="onLoadingError"        
		@vuetable:load-success="onLoaded"
    ></vuetable> 
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo"
        info-class="pagination-info"
      ></vuetable-pagination-info>
      <vuetable-pagination ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
    </div>
 

    </div>


                    </div>
                                
                </div>
            </div>
        </div>


    <!-- MODAL -->
    <div class="container-fluid display-page" id="display-post-category" >


<!-- @view --->
        <modal  v-if="modal.get('view')" @close="modal.set('view', false)"  >
        <template slot="header" ><h4 align="center">Detail Order</h4></template>
        <template slot="body" >
                <div class="modal-body">
  
<div class="x_row_panel">
	<h3>Order General Info</h3>
	<div class="x_panel">
		<div class="x_content">
			<table class="detail-view table" id="yw1">
                <tbody>
                    <tr class="odd"><th>Company</th><td>ECTUP</td><th>Order No</th><td>{{this.order.order_no}}</td></tr>
                    <tr class="even"><th>Order Date</th><td>{{this.order.order_date}}</td>
                    <th>Due Date</th><td>{{this.order.due_date}}</td>
                    <tr class="odd"><th>Status</th><td>{{this.order.status}}</td>
                    <th>Create By</th><td>{{this.order.create_by}}</td></tr>
                    <tr class="even"><th>Courier</th><td>{{this.order.courier_id}}</td>
                    <th>Awb No</th><td>{{this.order.awb_no}}</td></tr>
                    <tr class="odd"><th>Insured</th><td><input disabled="disabled" :checked="order.insured == 1" type="checkbox" value="1" name="" id=""></td>
                    <th>Insured By</th><td></td></tr>
                    <tr class="even"><th>Cod</th><td><input disabled="disabled" :checked="order.cod == 1" type="checkbox" value="1" name="" id=""></td>
                    <th>Payment Status</th><td>{{this.order.payment_status}}</td></tr>
                    <tr class="odd"><th>Special Packaging</th><td>{{this.order.special_packaging}}</td>
                    <th>Fulfillment  Center</th><td>{{this.order.fulfillment_center_id}}</td></tr>
                    <tr class="even"><th>Promo Code</th><td>{{this.order.promo_code}}</td>
                    <th>Create Time</th><td>{{this.order.create_time}}</td></tr>
                    <tr class="odd"><th>Update Time</th><td>{{this.order.update_time}}</td>
                    <th>Order Source</th><td>{{this.order.order_source}}</td></tr>
                    <tr class="even"><th>Insurance  Amount</th><td>{{this.order.insurance_amount}}</td>
                    <th>Shipping  Amount</th><td>{{this.order.shipping_amount}}</td></tr>
                    <tr class="odd"><th>Order  Amount</th><td>{{this.order.order_amount}}</td>
                    <th>&nbsp;</th><td>&nbsp;</td></tr>
                </tbody>
            </table>				            	
        </div>
	</div>
</div>


<div class="x_row_panel">
	<h3>Origin and Destination</h3>
	<div class="x_panel">
		<div class="x_content">
			<table class="detail-view table" id="yw2">
                <tbody>
                    <tr class="odd"><th>Origin Name</th><td>{{this.order.ori_name}}</td>
                    <th>Dest Name</th><td>{{this.order.dest_name}}</td></tr>
                    <tr class="even"><th>Origin Address1</th><td>{{this.order.ori_address1}}</td>
                    <th>Dest Address1</th><td>{{this.order.dest_address1}}</td></tr>
                    <tr class="odd"><th>Origin Address2</th><td>{{this.order.ori_address2}}</td>
                    <th>Dest Address2</th><td>{{this.order.ori_address2}}</td></tr>
                    <tr class="even"><th>Origin Country</th><td>{{this.order.ori_country}}</td>
                    <th>Destination Country</th><td>{{this.order.dest_country}}</td></tr>
                    <tr class="odd"><th>Origin Province</th><td>{{this.order.ori_province}}</td>
                    <th>Dest Province</th><td>{{this.order.dest_province}}</td></tr>
                    <tr class="even"><th>Origin City</th><td>{{this.order.ori_city}}</td>
                    <th>Dest City</th><td>{{this.order.dest_city}}</td></tr>
                    <tr class="odd"><th>Origin Area</th><td>{{this.order.ori_area}}</td>
                    <th>Dest Area</th><td>{{this.order.dest_area}}</td></tr>
                    <tr class="even"><th>Origin Sub Area</th><td>{{this.order.ori_sub_area}}</td>
                    <th>Dest Sub Area</th><td>{{this.order.dest_sub_area}}</td></tr>
                    <tr class="odd"><th>Origin Postal Code</th><td>{{this.order.ori_postal_code}}</td>
                    <th>Dest Postal Code</th><td>{{this.order.dest_postal_code}}</td></tr>
                    <tr class="even"><th>Origin Village</th><td>{{this.order.ori_village}}</td>
                    <th>Dest Village</th><td>{{this.order.dest_village}}</td></tr>
                    <tr class="odd"><th>Origin Remarks</th><td>{{this.order.ori_remarks}}</td>
                    <th>Dest Remarks</th><td>{{this.order.dest_remarks}}</td></tr>
                </tbody>
            </table>
        </div>
	</div>
</div>


<div class="x_row_panel">
	<h3>Destination Contact Info</h3>
	<div class="x_panel">
		<div class="x_content">
			<table class="detail-view table" id="yw3">
                <tbody>
                    <tr class="odd"><th>Dest Phone</th><td>{{this.order.dest_phone}}</td>
                    <th>Dest Mobile</th><td>{{this.order.dest_mobile}}</td></tr>
                    <tr class="even"><th>Dest Phone2</th><td>{{this.order.dest_phon2}}</td>
                    <th>Dest Email</th><td>{{this.order.dest_email}}</td></tr>
                </tbody>
            </table>				            	
        </div>
	</div>
</div>



<div class="x_row_panel">
	<h3>Order Detail Info</h3>
	<div class="x_panel">
		<div class="x_content">
			<table class="detail-view table" id="yw3">
                <tbody>

                    <tr class="odd">
                        <th>Sku Code</th> 
                        <th>Sku Description</th> 
                        <th>Qty Order</th> 
                        <th>Price</th> 
                        <th>Order Amount</th> 
                        <th>Insured</th> 
                        <th>Qty Ship</th> 
                        <th>Amount Ship</th> 
                        <th>Status</th> 
                    </tr>

                    
                    <tr class="odd" v-for="(det,index)  in this.order.details">
                        <th>{{det.sku_code}}</th> 
                        <th>{{det.sku_description}}</th> 
                        <th>{{det.qty_order}}</th> 
                        <th>{{det.price}}</th> 
                        <th>{{det.amount_order}}</th> 
                        <th>{{det.insured}}</th>
                        <th>{{det.qty_ship}}</th>
                        <th>{{det.amount_ship}}</th>
                        <th>{{det.status}}</th>
                    </tr>

                </tbody>
            </table>				            	
        </div>
	</div>
</div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" @click="modal.set('view', false)" >Close</button>
                </div>
        </template>
        </modal>

    </div>


    </div>
</template>

<script>

        /* CRUD MODAL */
        class CrudModal{
            constructor(data){
                this.modal = data;
            }
            get(value){
                if(this.modal[value]){
                    return this.modal[value];
                }
            }
            set(data , value){
                this.modal[data] = value;
            }
        }
        //  COMPONENT MODAL
        const Modal = {
            template: `   <transition name="modal">
                                <div class="modal-mask">
                                  <div class="modal-wrapper">
                                    <div :class="modalStyle">
                                    <a class="close-modal" @click="$emit('close')" ></a>
                                      <div class="modal-header">
                                           <p class="modal-card-title"><slot name="header" class="modal-card-title "></slot></p>
                                      </div>
                                        <slot name="body">
                                          default body
                                        </slot>
                                    </div>
                                  </div>
                                </div>
                              </transition>` ,
            props: {
                modalsize: {type: String},
            } ,
            computed: {
                modalStyle() {
                    return this.modalsize == null ? 'modal-container' : this.modalsize + ' modal-container';
                },
                created(){

                }
            }
        };

    class Errors{
            constructor(){
                this.errors = {};
            }
            get(field){
                if(this.errors[field]){
                    return  this.errors[field][0];
                }
            }
            record(errors){
                this.errors = errors.response.data;
            }
            any(){
                return Object.keys(this.errors).length > 0;
            }
            has(field){
                return this.errors.hasOwnProperty(field);
            }
            clear(field){
                if(field) delete this.errors[field];
                this.errors = {};
            }
            clearAll(){
                this.errors = "";
            }
    };

 class CrudForm {
            constructor(data) {
                this.originalData = data;
                for(let field in data){
                    this[field] = data[field];
                }
            }
            reset(){
                for(let field in this.originalData){
                    this[field] = '';
                }
            }
            /*  Set a value to the temp , verify if has this item and update  */
            setFillItem(item , index){
                for(let field in this.originalData){
                    if(field in item){
                        this[field] = item[field];
                    }else{
                        // if is index
                        if(field == 'index'){ this[field] = index; }
                    }
                }
            }
            data(){
                let data = Object.assign({} , this);
                delete data.originalData;
                delete data.errors;
                return data;
            }
        };
 


import Vue from 'vue'
import MaskedInput from 'vue-masked-input' 
import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import accounting from 'accounting'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker' 
import VueEvents from 'vue-events'
import Hashids from 'hashids'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2'
import 'vue-loading-overlay/dist/vue-loading.css'

import DetailActions from '../Buttons/DetailActions.vue'  

Vue.use(VueSweetalert2)
Vue.use(Loading)
Vue.use(VueEvents)

Vue.component('detail-actions', DetailActions)

export default { 
  components: { 
    Vuetable, 
    VuetablePagination,
    VuetablePaginationInfo,
    Datepicker, 
    'modal': Modal,
    MaskedInput,
  },
  data () {
    return { 
        modal:new CrudModal({view:false}),
        idNya: this.dibalik(this.$route.params.id),
        monthLabels:['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        maxToasts: 100, 
        order:new CrudForm({invoice_files_id:'',invoice_file_details_id:'',order_header_id:'',company_id:'',     company_name:'',order_no:'',order_date:'',due_date:'',status:'',courier_id:'',awb_no:'',insured:'',     insured_by_id:'',cod:'',payment_status:'',create_by:'',dest_name:'',dest_address1:'',dest_address2:'',     dest_province:'',dest_city:'',dest_area:'',dest_sub_area:'',dest_postal_code:'',dest_village:'',     dest_remarks:'',ori_name:'',ori_address1:'',ori_address2:'',ori_province:'',ori_city:'',ori_area:'',     ori_sub_area:'',ori_postal_code:'',ori_village:'',ori_remarks:'',fulfillment_center_id:'',order_source:'',     create_time:'',update_time:'',dest_phone:'',dest_mobile:'',dest_phone2:'',dest_email:'',ori_country:'',dest_country:'',special_packaging:'',     promo_code:'',order_amount:'',     shipping_amount:'',insurance_amount:'',details:[]}),
        invoiceDetailUrl: '/get-invoice-detail/'+this.dibalik(this.$route.params.id)+'/by-id',
        position: 'up right',
        file: '',
        headerInvoice:'',
        uploadReady: true,
        closeBtn: true,  
        errors: new Errors() ,
        couriers:[], 
        forms: new CrudForm({index:'',  id:'' ,name:'', date_invoice:'', courier_id:'', status:'', file_name:'', courier:{}}),
        token: localStorage.getItem('token'), 
        isLoading: false,
        perPage: 10,
        startTime: {
            time: ''
        },
        endtime: {
            time: ''
        },
        option: {
            type: 'day',
            week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
            month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            format: 'YYYY-MM-DD',
            placeholder: 'YYYY-MM-DD',
            inputStyle: {
            'display': 'inline-block',
            'padding': '6px',
            'line-height': '22px',
            'font-size': '16px',
            'border': '2px solid #fff',
            'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
            'border-radius': '2px',
            'color': '#5F5F5F'
            },
            color: {
            header: '#B799DA',
            headerText: '#f00'
            },
            buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
            },
            overlayOpacity: 0.5, // 0.5 as default 
            dismissible: true // as true as default 
        },
        position: 'up right',
        closeBtn: true,
        submitSelectedItems:[],
        fields: [ 
            {
                name: '__sequence',
                title: 'No',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
			{
                name: '__component:detail-actions',
                title: 'Actions',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'order.company_id',
                title: 'Company ID',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'order.company_name',
                title: 'Company Name',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'order.order_no',
                title: 'Order No',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'awb_no',
                title: 'AWB No',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'status',
                title: 'Status AWB',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'customer_code',
                title: 'Bill Customer Code',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'service',
                title: 'Service',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'qty',
                title: 'QTY',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'formatPrice'
            },
            {
                name: 'weight_total',
                title: 'Weight Total',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'formatPrice'
            },
            {
                name: 'bag_total',
                title: 'Bag Total',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'formatPrice'
            },
            {
                name: 'weight_price',
                title: 'Weight Price',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'cod_amount',
                title: 'COD Amount',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'formatPrice'
            },
            {
                name: 'insurance_amount',
                title: 'Insurance Amount',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'formatPrice'
            },
            {
                name: 'other_amount',
                title: 'Other Amount',
                titleClass: 'text-center',
                dataClass: 'text-center',
				callback:'formatPrice'
            },
            {
                name: 'price',
                title: 'Total',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: '8commercePriceBy3Percent',
                title: '8 Commerce Price By 3%',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: '8commercePriceBy5Percent',
                title: '8 Commerce Price By 5%',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			
			{
                name: '8commercePriceBy10Percent',
                title: '8 Commerce Price By 10%',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: '8commercePriceByRange',
                title: '8Commerce Price By Range',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
            {
                name: 'publishPriceByDestination ',
                title: 'Publish Price By Destination',
                titleClass: 'text-center',
                dataClass: 'text-right',
                callback:'formatPrice'
            },
            {
                name: 'publishPriceByWeight',
                title: 'Publish Price By Weight',
                titleClass: 'text-center',
                dataClass: 'text-right',
                callback:'formatPrice'
            },
			{
                name: ' 8commercePriceByDestination',
                title: '8Commerce Price By Destination',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: '8commercePriceByWeight',
                title: '8Commerce Price By Weight',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: 'customerPriceByDiscount',
                title: 'Customer Price By Discount',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: ' customerPriceByDestination',
                title: 'Customer Price By Destination',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            },
			{
                name: 'customerPriceByWeight',
                title: 'Customer Price By Weight',
                titleClass: 'text-center',
                dataClass: 'text-right',
				callback:'formatPrice'
            }
        ],
        filterAwb: '',
        filterStatus:'',
        filterCompany:'',
        css: {
            table: {
                tableClass: 'table table-bordered table-striped table-hover',
                ascendingIcon: 'glyphicon glyphicon-chevron-up',
                descendingIcon: 'glyphicon glyphicon-chevron-down'
            },
            pagination: {
                wrapperClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageClass: 'page',
                linkClass: 'link',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                },
            },
            icons: {
                first: 'glyphicon glyphicon-step-backward',
                prev: 'glyphicon glyphicon-chevron-left',
                next: 'glyphicon glyphicon-chevron-right',
                last: 'glyphicon glyphicon-step-forward',
            },
        },
        moreParams: {}
    }
  },
        watch: { 
            'perPage'(newValue, oldValue) {
               this.$events.fire('filter-set', this.filterAwb, this.filterCompany,this.filterStatus)
            }, 

        },
        methods: {

            downloadFilter(){ 
                var masuk = 
                {
                    'id' : this.forms.id, 
                    'filename' : 'invoice-file-details-order.xls', 
                    'filterAwb': this.filterAwb, 
                    'filterStatus': this.filterStatus,
                    'filterCompany': this.filterCompany
                }
                axios({
                url: '/download-invoice-file-details',
                method: 'POST',
                data: masuk,
                responseType: 'blob', // important
                }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', masuk.filename);
                document.body.appendChild(link);
                link.click();
                }); 
            },

            dataAction () { 
                axios.get('/get-invoice/'+this.idNya).then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.forms.setFillItem(response.data.data); 
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });                
            }, 
            getOrder(data,index){
                axios.get('/get-order/'+data.id).then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.order.setFillItem(response.data.data , index ); 
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

            detailItem(item ,index = this.indexOf(item)){ 
                this.getOrder(item,index); 
                this.modal.set('view', true);
             } ,

            downloadFile(){
                var masuk = 
                {
                    'id' : this.forms.id, 
                    'filename' : this.forms.file_name, 
                }
                axios({
                url: '/download-invoice-file',
                method: 'POST',
                data: masuk,
                responseType: 'blob', // important
                }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', this.forms.file_name);
                document.body.appendChild(link);
                link.click();
                }); 

            },

            
            onChangePage (page) {
                 this.$refs.vuetable.changePage(page)
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onLoading() {
                this.loading();
                this.isLoading = true;
            },
            onLoaded() {
            this.isLoading = false;
            },
            onLoadingError() {
               this.isLoading = true;
               axios.get(this.invoiceDetailUrl).then((response) => {
                   if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        this.isLoading = false;
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.isLoading = false;
                        }
                    }
                });
            },	

            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },

            doFilter () {
                    this.$events.fire('filter-set', this.filterAwb, this.filterCompany, this.filterStatus)
            },

            diacak(id){
                var hashids = new Hashids('',1000,'abcdefghijklmnopqrstuvwxyz0987654321ABCDEFGHIJKLMNOPQRSTUVWXYZ'); // no padding
                return hashids.encode(id); 
           },
            dibalik(id){
                var hashids = new Hashids('',1000,'abcdefghijklmnopqrstuvwxyz0987654321ABCDEFGHIJKLMNOPQRSTUVWXYZ'); // no padding
                return hashids.decode(id); 
           }, 
            uploadFile(event) {
               let files = event.target.files || e.dataTransfer.files;
               if (files.length) this.forms.file_name = files[0]; 
           },

            backLink() {
			   this.$router.go(-1);
            } , 

            dataCourier () {
                this.loading();
                axios.get('/get-courier').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.couriers = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },
             

            clearFile () {
                    this.uploadReady = false
                    this.$nextTick(() => {
                        this.uploadReady = true
                    })
            },

            resetFilter () {
                this.forms.CrudForm = ''; 
                this.filterAwb=''; 
                this.filterStatus='';
                this.filterCompany='';
                this.startTime.time = '';
                this.endtime.time = '';
                this.$events.fire('filter-reset');
            },
            
            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: {  
            'filter-set' (filterAwb, filterCompany,filterStatus) {
                this.moreParams = {
                filterAwb: filterAwb,
                filterCompany: filterCompany,
                filterStatus:filterStatus

                }
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            },
            'filter-reset' () {
                this.moreParams = {}
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            }

        },
        created: function() { 
            let self = this;
            this.$root.$on('detailitem', function(data,index){ 
               self.detailItem(data,index);
            });

        },
		mounted() { 
            this.dataAction();
        }

}
</script>
<style> 
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
.modal-backdrop {
z-index: -1;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 80%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}
.modal-body {
  margin: 20px 0;
     max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.modal-default-button {
  float: right;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>