<template>
    <div>   
       <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                              <div class="panel box-v3"> 
                                <div class="panel-heading bg-white border-none">
                                  <h4>Edit Invoice</h4>
                                </div>
                                <div class="panel-body">
 
<form @submit.prevent="submitData" method="POST">  
 
<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.courier_id" required="" aria-required="true">
        <option v-for="(courier, index) in couriers" :value="courier.id">{{ courier.courier_name }}</option>
    </select> 
    <span class="bar"></span>
    <label>Courier</label>
    <span class="label label-danger" v-for="error of errors['courier_id']">
        {{ error }}
    </span>
</div>

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.algoritma_id" required="" aria-required="true">
        <option v-for="(algoritma, index) in algoritmas" :value="algoritma.id">{{ algoritma.name }}</option>
    </select> 
    <span class="bar"></span>
    <label>Algoritma</label>
    <span class="label label-danger" v-for="error of errors['algoritma_id']">
        {{ error }}
    </span>
</div>

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="text" class="form-text" v-model="forms.name" required="" aria-required="true">
    <span class="bar"></span>
    <label>Name</label>
    <span class="label label-danger" v-for="error of errors['name']">
        {{ error }}
    </span>
</div> 

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <masked-input v-model="forms.date_invoice" type="text" mask="11/1111" class="form-text" required="" aria-required="true"/>
    <span class="bar"></span>
    <label>Date</label>
    <span class="label label-danger" v-for="error of errors['date_invoice']">
        {{ error }}
    </span>
</div>               
   
<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="file" name="file" id="file" v-on:change="uploadFile" v-if="uploadReady" class="form-text"> 
    <span class="label label-danger" v-for="error of errors['file_name']">
        {{ error }}
    </span>
    <p class="center-block">* Type dokumen .xlsx And Max 10 MB</p>

    <button type="button" class="btn btn-primary"  @click="downloadFile()"><i class="fa fa-download"></i> Download Original File</button>
</div> 

<div class="col-md-12">
   <input class="submit btn btn-warning" @click="backLink()" type="button" value="Back">  <input class="submit btn btn-primary" type="submit" value="Submit">
</div>
 
</form>

                                </div>
                                
                              </div>
                            </div>
</div>

    </div>
</template>

<script>
    class Errors{
            constructor(){
                this.errors = {};
            }
            get(field){
                if(this.errors[field]){
                    return  this.errors[field][0];
                }
            }
            record(errors){
                this.errors = errors.response.data;
            }
            any(){
                return Object.keys(this.errors).length > 0;
            }
            has(field){
                return this.errors.hasOwnProperty(field);
            }
            clear(field){
                if(field) delete this.errors[field];
                this.errors = {};
            }
            clearAll(){
                this.errors = "";
            }
    }

 class CrudForm {
            constructor(data) {
                this.originalData = data;
                for(let field in data){
                    this[field] = data[field];
                }
            }
            reset(){
                for(let field in this.originalData){
                    this[field] = '';
                }
            }
            /*  Set a value to the temp , verify if has this item and update  */
            setFillItem(item , index){
                for(let field in this.originalData){
                    if(field in item){
                        this[field] = item[field];
                    }else{
                        // if is index
                        if(field == 'index'){ this[field] = index; }
                    }
                }
            }
            data(){
                let data = Object.assign({} , this);
                delete data.originalData;
                delete data.errors;
                return data;
            }
        }

import Vue from 'vue'
import MaskedInput from 'vue-masked-input'
import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker' 
import 'vue-loading-overlay/dist/vue-loading.css'


Vue.use(VueSweetalert2)
Vue.use(Loading)

export default {
    props: {
      rowDatanya: {
        type: Object,
        required: true
      },
      typenya: {
        type: String,
        required: true
      }
    },
  components: { 
    Datepicker, 
    MaskedInput,
  },
  data () {
    return {
        monthLabels:['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        maxToasts: 100, 
		algoritmas : [],
		algoritma_id:'',
        position: 'up right',
        file: '',
        uploadReady: true,
        closeBtn: true,  
        errors: new Errors() ,
        couriers:[], 
        forms: new CrudForm({index:'',  id:'' ,name:'', date_invoice:'', courier_id:'', algoritma_id:'', status:'', file_name:''}),
        token: localStorage.getItem('token'), 

    }
  },
        watch: { 

        },
        methods: { 
            uploadFile(event) {
               let files = event.target.files || e.dataTransfer.files;
               if (files.length) this.file = files[0]; 
           },
            backLink() {
			   this.$router.go(-1);
            } ,
            dataAction () {
                if(this.typenya === "edit-invoice")
                {
                    this.forms.setFillItem(this.rowDatanya);
                }else{
                    this.$router.push('/page-not-found');
                } 
            },
            dataCourier () {
                this.loading();
                axios.get('/get-courier').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.couriers = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

             downloadFile(){
                var masuk = 
                {
                    'id' : this.forms.id, 
                    'filename' : this.forms.file_name, 
                }
                axios({
                url: '/download-invoice-file',
                method: 'POST',
                data: masuk,
                responseType: 'blob', // important
                }).then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', this.forms.file_name);
                document.body.appendChild(link);
                link.click();
                }); 

            },
			dataAlgoritma () {
                this.loading();
                axios.get('/get-algoritma').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.algoritmas = response.data.data;
                        }else{ 
                            this.resultError(response.data.message) 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status = 422) {
                            this.resultError(error.response.data.errors) 
                        }else if (error.response.status = 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },
            submitData() {
                this.$swal({
                title: 'Are you sure ?',
                text: 'submit data',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
					    this.loading();
                        let masuk = new FormData();
                        masuk.set('id', this.forms.id) 
                        masuk.set('courier_id', this.forms.courier_id) 
						masuk.set('algoritma_id', this.forms.algoritma_id) 
                        masuk.set('name', this.forms.name) 
                        masuk.set('date_invoice', this.forms.date_invoice) 
                        masuk.set('status', 'upload') 
                        masuk.set('file_name', this.file)  

                        axios.post('/invoices-edit', masuk).then(response => {
						
                            if(!response.data){ 
                                window.location.href = window.webURL; 
                            }else{ 
                                if(response.data.status == 200){ 
                                    this.forms.clearFile();
                                    this.forms.reset();
                                    this.errors.clearAll();
                                    this.success(response.data.message);
                                }else{
                                    this.forms.clearFile();
                                    this.errors = response.data.message
                                    this.resultError(response.data.message)
                                }
                            }
                        }).catch(error => {
                            if (! _.isEmpty(error.response)) {
                                if (error.response.status == 422) {
                                    this.forms.clearFile();
                                   this.errors = error.response.data.errors
                                }else if (error.response.status == 500) {
                                    this.$router.push('/server-error');
                                }else{
                                    this.$router.push('/page-not-found');
                                }
                            }
                                        
                        })
                    }
                })
                    
            },

            clearFile () {
                    this.uploadReady = false
                    this.$nextTick(() => {
                        this.uploadReady = true
                    })
            },

            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: { 

        },
        created: function() { 

        },
		mounted() { 
          this.dataAction();
          this.dataCourier();
		  this.dataAlgoritma();
        }

}
</script>
<style> 
</style>