<template>
    <div>   
       <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                              <div class="panel box-v3">
                                <div class="panel-heading bg-white border-none">
                                  <h4>Edit User</h4>
                                </div>
                                <div class="panel-body">

<form @submit.prevent="submitData" method="POST">  
    


<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="text" class="form-text" v-model="forms.name" required="" aria-required="true">
    <span class="bar"></span>
    <label>Name</label>
    <span class="label label-danger" v-for="error of errors['name']">
        {{ error }}
    </span>      
</div>            
 
    
<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="email" class="form-text" v-model="forms.email" required="" aria-required="true">
    <span class="bar"></span>
    <label>Email</label>
    <span class="label label-danger" v-for="error of errors['email']">
        {{ error }}
    </span>      
</div>       
 
 
<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input type="password" class="form-text" v-model="forms.password">
    <span class="bar"></span>
    <label>Password</label>
    <span class="label label-danger" v-for="error of errors['password']">
        {{ error }}
    </span> 
</div>            

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.status" required="" aria-required="true">
        <option v-for="status in statusDropdown" :value="status">{{ status }}</option>
    </select> 
    <span class="bar"></span>
    <label>Status</label>
    <span class="label label-danger" v-for="error of errors['status']">
        {{ error }}
    </span>
</div>
                
 
<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <select class="form-text" v-model="forms.role_id" required="" aria-required="true">
        <option v-for="(role, index) in roles" :value="role.id">{{ role.role_name }}</option>
    </select> 
    <span class="bar"></span>
    <label>Role</label>
    <span class="label label-danger" v-for="error of errors['role_id']">
        {{ error }}
    </span>
</div>  
                 

<div class="col-md-12">
    <input class="submit btn btn-warning" @click="backLink()" type="button" value="Back"> <input class="submit btn btn-primary" type="submit" value="Submit">
</div>

</form>

                                </div>
                                
                              </div>
                            </div>
</div>

    </div>
</template>

<script> 
        class CrudForm {
            constructor(data) {
                this.originalData = data;
                for(let field in data){
                    this[field] = data[field];
                }
            }
            reset(){
                for(let field in this.originalData){
                    this[field] = '';
                }
            }
            /*  Set a value to the temp , verify if has this item and update  */
            setFillItem(item , index){
                for(let field in this.originalData){
                    if(field in item){
                        this[field] = item[field];
                    }else{
                        // if is index
                        if(field == 'index'){ this[field] = index; }
                    }
                }
            }
            data(){
                let data = Object.assign({} , this);
                delete data.originalData;
                delete data.errors;
                return data;
            }
        }  

import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'


Vue.use(VueSweetalert2)
Vue.use(Loading);


export default {
    props: {
      rowDatanya: {
        type: Object,
        required: true
      },
      typenya: {
        type: String,
        required: true
      }
    },
  components: { 

  },
  data () {
    return {
        maxToasts: 100,
        position: 'up right',
        closeBtn: true,  
        errors: [],
        roles:[],
        statusDropdown: ['active','inactive'],
        forms: new CrudForm({id:'', name:'', email:'', status:'',role_id:'', role:[], password : ''}),
        token: localStorage.getItem('token'), 

    }
  },
        watch: { 

        },
        methods: { 
            backLink() {
			   this.$router.go(-1);
            } ,
            dataAction () {
                if(this.typenya === "edit-user")
                {
                    this.forms.setFillItem(this.rowDatanya);
                }else{
                this.$router.push('/page-not-found');
                } 
            },
            dataRole () {
                this.loading();
                axios.get('/get-role').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status == 200){ 
                            this.roles = response.data.data;
                        }else{
                            window.location.href = window.webURL; 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 422) {
                            this.resultError(error.response.data.errors)
                        }else if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },
            submitData() {
                this.$swal({
                title: 'Are you sure ?',
                text: 'submit data',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        axios.put('/users/'+this.forms.id, this.forms).then(response => {
                            if(!response.data){ 
                                window.location.href = window.webURL; 
                            }else{ 
                                if(response.data.status == 200){  
                                    this.forms.password = ''; 
                                    this.success(response.data.message);
                                }else{
                                    this.errors = response.data.message;
                                }
                            }
                        }).catch(error => {
                            if (! _.isEmpty(error.response)) {
                                if (error.response.status == 422) {
                                   this.errors = error.response.data.errors;
                                }else if (error.response.status == 500) {
                                    this.$router.push('/server-error');
                                }else{
                                    this.$router.push('/page-not-found');
                                }
                            }
                                        
                        })
                    }
                })
                    
            },

            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: { 

        },
        created: function() { 

        },
		mounted() { 
          this.dataAction();
          this.dataRole();
        }

}
</script>
<style> 
</style>