<template>
  <div> 
     <div class="col-md-12" style="width:1300px">
      <div class="col-md-12 padding-0">
        <div class="panel box-v3"> 
            <div class="panel-heading bg-white border-none">
                <h4><span class="fa fa-user"></span> USERS</h4>
            </div>
          <div class="panel-body">
                                    
 
 
 	
<div class="filter-bar">
<button type="button" class="btn btn-primary"  @click="createItem()"><i class="fa fa-plus"></i> User</button>
<br>
<br>
<div class="dropdown form-inline pull-right" style="margin-right:550px">
                <label>Per Page:</label>

                <select class="form-control" v-model="perPage">
                    <option :value=10>10</option>
                    <option :value=25>25</option>
                    <option :value=50>50</option>
                    <option :value=75>75</option>
                    <option :value=100>100</option>
                </select>
            </div>
             <form class="form-inline">
<div style="overflow-x:auto;">
  <table>
    <tr>
      <td colspan="4">
<div class="text-left">
<button class="btn btn-warning" @click.prevent="resetFilter">Reset Form <i class="fa fa-refresh position-right"></i></button>
<button class="btn btn-danger" @click.prevent="sumSelectedItems()">Delete <i class="fa fa-trash position-right"></i></button>
                                    </div>
</td>
       </tr>
</table>
 </div>
       </form>
       
    <br>
    <div style="width:1200px"> 
    <div class="col-xs"><input type="text" class="form-text"  style="width:265px;margin-left:403px" v-model="name" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:266px;" v-model="email" aria-required="true" @keyup="doFilter"><input type="text" class="form-text" style="width:266px;" v-model="role_name" aria-required="true" @keyup="doFilter"></div> 
    <vuetable ref="vuetable"
      api-url="/users"
      :fields="fields"
      pagination-path=""
      :per-page="perPage"
      :css="css.table"
      :append-params="moreParams" 
      @vuetable:pagination-data="onPaginationData"
	  @vuetable:loading="onLoading"        
		@vuetable:load-error="onLoadingError"        
		@vuetable:load-success="onLoaded"
    ></vuetable> 
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo"
        info-class="pagination-info"
      ></vuetable-pagination-info>
      <vuetable-pagination ref="pagination"
        :css="css.pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
    </div>
 

    </div>
 
        </div> 
      </div>
    </div>
  </div>
</div>
</template>

<script>
     
import Vue from 'vue'
import accounting from 'accounting'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker' 
import VueEvents from 'vue-events'
import Hashids from 'hashids'
import {Vuetable, VuetablePagination, VuetablePaginationInfo} from 'vuetable-2'

import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'

import AllActions from '../Buttons/AllActions.vue' 
Vue.component('all-actions', AllActions)
 

Vue.use(VueSweetalert2)
Vue.use(Loading)
Vue.use(VueEvents)


export default {
  components: {   
    Vuetable, 
    VuetablePagination,
    VuetablePaginationInfo,
    Datepicker,  
  },
  data () {
    return {  
        errors: [], 
        name:'',
        email:'',
        role_name:'',
        token: localStorage.getItem('token'), 

	    isLoading: false,
        perPage: 10,
        startTime: {
            time: ''
        },
        endtime: {
            time: ''
        },
        option: {
            type: 'day',
            week: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
            month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            format: 'YYYY-MM-DD',
            placeholder: 'YYYY-MM-DD',
            inputStyle: {
            'display': 'inline-block',
            'padding': '6px',
            'line-height': '22px',
            'font-size': '16px',
            'border': '2px solid #fff',
            'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
            'border-radius': '2px',
            'color': '#5F5F5F'
            },
            color: {
            header: '#B799DA',
            headerText: '#f00'
            },
            buttons: {
            ok: 'Ok',
            cancel: 'Cancel'
            },
            overlayOpacity: 0.5, // 0.5 as default 
            dismissible: true // as true as default 
        },
        position: 'up right',
        closeBtn: true,
        submitSelectedItems:[],
        fields: [ 
            {
                name: '__sequence',
                title: 'No',
                width:'40px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: '__checkbox:id',
                titleClass: 'text-center',
                width:'40px',
                dataClass: 'text-center',
            },
            {
                name: '__component:all-actions',
                title: 'Actions',
                width:'300px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'name',
                title: 'Name',
                width:'250px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            },
            {
                name: 'email',
                title: 'Email',
                width:'250px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }, 
            {
                name: 'role_name',
                title: 'Role',
                width:'250px',
                titleClass: 'text-center',
                dataClass: 'text-center'
            }
        ],
        filterText: '',
        css: {
            table: {
                tableClass: 'table table-bordered table-striped table-hover',
                ascendingIcon: 'glyphicon glyphicon-chevron-up',
                descendingIcon: 'glyphicon glyphicon-chevron-down'
            },
            pagination: {
                wrapperClass: 'pagination',
                activeClass: 'active',
                disabledClass: 'disabled',
                pageClass: 'page',
                linkClass: 'link',
                icons: {
                    first: '',
                    prev: '',
                    next: '',
                    last: '',
                },
            },
            icons: {
                first: 'glyphicon glyphicon-step-backward',
                prev: 'glyphicon glyphicon-chevron-left',
                next: 'glyphicon glyphicon-chevron-right',
                last: 'glyphicon glyphicon-step-forward',
            },
        },
        moreParams: {}
    }
  },
        watch: { 
            'perPage'(newValue, oldValue) {
               this.$events.fire('filter-set')
            }, 
        },
        methods: {
            doFilter () {
        	    this.$events.fire('filter-set', this.name, this.email, this.role_name)
            },
            diacak(id){
                var hashids = new Hashids('',1000,'abcdefghijklmnopqrstuvwxyz0987654321ABCDEFGHIJKLMNOPQRSTUVWXYZ'); // no padding
                return hashids.encode(id); 
           },
           
            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },
            sumSelectedItems() {
                var ttl = this.$refs.vuetable.selectedTo;
                if(ttl.length <= 0)
                {
                    this.question('Choose data for delete');
                }else{
                    this.$swal({
                        title: 'Are you sure ?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes!'
                    }).then((result) => {
                        if (result.value) {
                            var join_selected_values = ttl.join(","); 
                                axios.delete('/user/delete-all/'+ join_selected_values)
                                .then(response => {
                                    if(!response.data){ 
                                        window.location.href = window.webURL; 
                                    }else{
                                        if(response.data.status == 200){ 
                                                    this.errorNya = '';
                                                    this.resetFilter();
                                                    this.success(response.data.message);
                                        }else{
                                                    this.resultError(response.data.message)
                                        } 
                                    }
                                }).catch(error => {
                                    if (! _.isEmpty(error.response)) {
                                        if (error.response.status == 422) {
                                            this.resultError(error.response.data.errors)
                                        }else if (error.response.status == 500) {
                                            this.$router.push('/server-error');
                                        }else{
                                            this.$router.push('/page-not-found');
                                        }
                                    } 
                                });
                        }
                    })
                }
                
            },
           deleteItem(item ,index = this.indexOf(item)){
                this.$swal({
                    title: 'Are you sure ?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/users/'+ item.id)
                        .then(response => {
                            if(!response.data){ 
                                window.location.href = window.webURL; 
                            }else{
                                if(response.data.status == 200){ 
                                            this.errorNya = '';
                                            this.resetFilter();
                                            this.success(response.data.message);
                                }else{
                                            this.resultError(response.data.message)
                                } 
                            }
                        }).catch(error => {
                            if (! _.isEmpty(error.response)) {
                                if (error.response.status == 422) {
                                   this.resultError(error.response.data.errors)
                                }else if (error.response.status == 500) {
                                    this.$router.push('/server-error');
                                }else{
                                    this.$router.push('/page-not-found');
                                }
                            }
                        });
                    }
                }) 
            }  ,
            editItem(item ,index = this.indexOf(item)){
                this.$router.push({name:'useredit', params: {id: this.diacak(item.id),typenya:'edit-user',rowDatanya:item }});
            },
            createItem() {
                this.$router.push({name:'useradd', params: {typenya:'add-user'}});
            } ,
            viewItem(item ,index = this.indexOf(item)){
                this.$router.push({name:'userdetail', params: {id: this.diacak(item.id),typenya:'detail-user',rowDatanya:item }});
            } ,
            formatDate (value, fmt = 'DD-MM-YYYY HH:mm:ss') {
                return (value == null)
                    ? ''
                    : moment(value, 'YYYY-MM-DD HH:mm:ss').format(fmt)
            },
            onChangePage (page) {
                 this.$refs.vuetable.changePage(page)
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onLoading() {
                this.loading();
                this.isLoading = true;
            },
            onLoaded() {
            this.isLoading = false;
            },
            onLoadingError() {
               this.isLoading = true;
               axios.get('users').then((response) => {
                   if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        this.isLoading = false;
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.isLoading = false;
                        }
                    }
                });
            },	

            customFormatter(date) {
                return moment(date).format('YYYY-MM-DD');
            },

            resetFilter () {
                this.filterText = ''
                this.startTime.time = ''
                this.endtime.time = ''
                this.$events.fire('filter-reset')
            },

            fetchIt(){
                this.loading();
                axios.get('/user/get-super-admin').then((response) => {
                    if(!response.data){ 
                        window.location.href = window.webURL; 
                    }else{ 
                        if(response.data.status != 200){ 
                            window.location.href = window.webURL; 
                        }
                    }
                }).catch(error => {
                    if (! _.isEmpty(error.response)) {
                        if (error.response.status == 422) {
                            this.$router.push('/server-error');
                        }else if (error.response.status == 500) {
                            this.$router.push('/server-error');
                        }else{
                            this.$router.push('/page-not-found');
                        }
                    }
                });
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            question(kata) {
                this.$swal('Ooppss?',kata,'question');
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
            /*
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
             */   
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: { 
            'filter-set' (name,email,role_name) {
                this.moreParams = {
                name: name,email: email, role_name: role_name
                }
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            },
            'filter-reset' () {
                this.moreParams = {}
                Vue.nextTick(() => this.$refs.vuetable.refresh() )
            } 
        },
        created: function() { 
            let self = this;
            this.$root.$on('viewitem', function(data,index){
                //console.log(data);
               self.viewItem(data,index);
            });
            this.$root.$on('edititem', function(data,index){
               self.editItem(data,index);
            });
            this.$root.$on('deleteitem', function(data,index){
               self.deleteItem(data,index);
            });
        },
		mounted() { 
            this.fetchIt(); 
        }

}
</script>
<style>
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
</style>