<template>
    <div>   
       <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                              <div class="panel box-v3">
                                <div class="panel-heading bg-white border-none">
                                  <h4>Change Password</h4>
                                </div>
                                <div class="panel-body">

<form @submit.prevent="submitData" method="POST"> 

<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input v-model="forms.password" type="password" class="form-text" required="" aria-required="true">
    <span class="bar"></span>
    <label>New Password</label>
    <span class="label label-danger" v-for="error of errors['password']">
        {{ error }}
    </span>
</div> 


<div class="form-group form-animate-text" style="margin-top:40px !important;">
    <input v-model="forms.password_confirmation" type="password" class="form-text" required="" aria-required="true">
    <span class="bar"></span>
    <label>Password Confirmation</label>
    <span class="label label-danger" v-for="error of errors['password_confirmation']">
        {{ error }}
    </span>
</div> 
           
     
<div class="col-md-12">
    <input class="submit btn btn-primary" type="submit" value="Submit">
</div>
            
</form>

                                </div>
                                
                              </div>
                            </div>
</div>

    </div>
</template>

<script>
    
import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2'
import Loading from 'vue-loading-overlay'
import 'vue-loading-overlay/dist/vue-loading.css'


Vue.use(VueSweetalert2)
Vue.use(Loading);


export default {
  components: { 

  },
  data () {
    return {
        errors: [] ,
        maxToasts: 100,
        position: 'up right',
        closeBtn: true,  
        errors: [],
        forms: {password : '', password_confirmation:''},
        token: localStorage.getItem('token'), 

    }
  },
        watch: { 

        },
        methods: { 
            submitData() {
                this.$swal({
                title: 'Are you sure ?',
                text: 'change login password',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/user/change-password', this.forms).then(response => {
                            if(!response.data){ 
                                window.location.href = window.webURL; 
                            }else{ 
                                if(response.data.status == 200){ 
                                    this.errors = '';
                                    this.forms.password_confirmation = '';
                                    this.forms.password = '';
                                    this.success(response.data.message);
                                }else{
                                   this.errors = response.data.message;
                                }
                            }
                        }).catch(error => {
                            if (! _.isEmpty(error.response)) {
                                if (error.response.status == 422) {
                                   this.errors = error.response.data.errors;
                                }else if (error.response.status == 500) {
                                    this.$router.push('/server-error');
                                }else{
                                    this.$router.push('/page-not-found');
                                }
                            }
                                        
                        })
                    }
                })
                    
            },

            resultError(data) {  
                 var count = Object.keys(data).length;
                for(var x=0; x < count;x++){ 
                    var nameOb      = Object.keys(data)[x];
                    var objectData  = data[nameOb];
                    for(var y=0; y < objectData.length;y++){ 
                        this.error(objectData[y]);
                       // console.log(objectData[y]);
                    }
                }
            },

            success(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'success',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            error(kata) {
                this.$swal({
                    position: 'top-end',
                    type: 'error',
                    title: kata,
                    showConfirmButton: false,
                    timer: 1500
                })
            },
            loading(){ 
                let loader = this.$loading.show({
                  // Optional parameters
                  container: this.fullPage ? null : this.$refs.formContainer,
                  loader:'dots',
                  color:'#2196F3',
                  canCancel: true, 
                  onCancel: this.onCancelLoading,
                }); 
                setTimeout(() => {
                  loader.hide()
                },1000);
            },
            onCancelLoading() {
               console.log('User cancelled the loader.'); 
            }  	

        },
        events: { 

        },
        created: function() { 

        },
		mounted() { 
          
        }

}
</script>
<style> 
</style>